FOS/ccn/backup/CCN.MSG.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ccn="http://www.ccn.com.sg/CCNMSGWS" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:ns1="http://www.w3.org/2000/09/xmldsig#" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" targetNamespace="http://www.ccn.com.sg/CCNMSGWS">
	<types>
		<s:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://www.ccn.com.sg/CCNMSGWS">
			<s:annotation>
				<s:documentation>   
				</s:documentation>
			</s:annotation>
			<s:element name="CCN.MSG" type="ccn:CCN.MSG"/>
			<s:complexType name="CCN.MSG">
				<s:sequence>
					<s:element name="MsgEnvelope" type="ccn:Envelope"/>
					<s:element name="MsgBody" type="ccn:MsgBody"/>  
				</s:sequence>
			</s:complexType>
			<s:complexType name="Envelope">
				<s:sequence>
					<s:element minOccurs="0" name="Priority" type="ccn:PriorityBase">
						<s:annotation>
							<s:documentation>Priority Code</s:documentation>
						</s:annotation>
					</s:element>
					<s:element name="RecipientPimaAddress" type="ccn:PimaAddressBase"/>
					<s:element name="SenderPimaAddress" type="ccn:PimaAddressBase"/>
					<s:element name="GMT" type="ccn:GMTBase"/>
					<s:element name="SenderOriginalCode" type="ccn:SenderOriginalCodeBase"/>
					<s:element name="MessageSequenceNumber" type="ccn:InterchangeReferenceNumberBase"/>
				</s:sequence>
			</s:complexType>
			<s:simpleType name="PriorityBase">
				<s:restriction base="s:string">
					<s:pattern value="QK|QU|QP|QD"/>
				</s:restriction>
			</s:simpleType>
			<s:simpleType name="PimaAddressBase">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z0-9/]{1,35}"/>
				</s:restriction>
			</s:simpleType>
			<s:simpleType name="SenderOriginalCodeBase">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z0-9 /]{1,15}"/>
				</s:restriction>
			</s:simpleType>
			<s:simpleType name="TTYAddressBase">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z0-9]{7}"/>
				</s:restriction>
			</s:simpleType>
			<s:simpleType name="GMTBase">
				<s:restriction base="s:string">
					<s:pattern value="[0-9]{6}"/>
				</s:restriction>
			</s:simpleType>
			<s:simpleType name="DoubleSignatureBase">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z]{2}"/>
				</s:restriction>
			</s:simpleType>
			<s:simpleType name="InterchangeReferenceNumberBase">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z0-9]{14}"/>
				</s:restriction>
			</s:simpleType>
			<s:complexType name="MsgBody">
				<s:sequence>
					<s:element name="FWB" type="ccn:FWB"/>
				</s:sequence>
			</s:complexType>
			<s:complexType name="FWB">
				<s:sequence>
				  <s:element name="StandardMessageIdentification" type="ccn:StandardMessageIdentification"/>
				  <s:element name="ConsignmentDetail" type="ccn:ConsignmentDetail"/>
				  <s:element name="FlightBooking" type="ccn:FlightBooking"/>
				  <s:element name="Routing" type="ccn:Routing"/>
				  <s:element name="Shipper" type="ccn:Shipper"/>
				  <s:element name="Consignee" type="ccn:Consignee"/>
				  <s:element name="Agent" type="ccn:Agent"/>
				  <s:element name="SpecialServiceRequest" type="ccn:SSR"/>
				  <s:element name="AlsoNotify" type="ccn:Notify"/>
				  <s:element name="AccountingInformation" type="ccn:AccountInformation"/>
				  <s:element name="ChargeDeclaration" type="ccn:ChargeDeclaration"/>
				  <s:element name="RateDescription" type="ccn:RateDescription"/>
				  <s:element name="OtherCharge" type="ccn:OtherCharge"/>
				  <s:element name="PrepaidChargeSummary" type="ccn:PrepaidChargeSummary"/>
				  <s:element name="CollectChargeSummary" type="ccn:CollectChargeSummary"/>
				  <s:element name="ShipperCertification" type="ccn:ShipperCertification"/>
				  <s:element name="CarrierExection" type="ccn:CarrierExection"/>
				  <s:element name="OtherServiceInformation" type="ccn:OtherServiceInfo"/>
				  <s:element name="CCChargeDestinationCurrency" type="ccn:CCChargeDestinationCurrency"/>
				  <s:element name="SenderReference" type="ccn:SenderReference"/>
				  <s:element name="CustomsOrigin" type="ccn:CustomsOrigin"/>
				  <s:element name="CommissionInformation" type="ccn:CommissionInformation"/>
				  <s:element name="SalesIncentiveInformation" type="ccn:SalesIncentive"/>
				  <s:element name="AgentReferenceData" type="ccn:AgentReferenceData"/>
				  <s:element name="SpecialHandlingData" type="ccn:SpecialHandlingData"/>
				  <s:element name="NominatedHandlingParty" type="ccn:NominatedHandlingParty"/>
				  <s:element name="ShipmentReferenceInformation" type="ccn:ShipmentReference"/>
				  <s:element name="OtherParticipantInformation" type="ccn:OtherParticipantInfo"/>
				  <s:element maxOccurs="99" minOccurs="0" name="OtherCustomsInformation" type="ccn:OtherCustomsInfo"/>
				  <s:element name="AAIParticipantDetail" type="ccn:AAIParticipantDetail"/>
				  <s:element name="AAITSPDetail" type="ccn:AAITSPDetail"/>
				  <s:element name="AAIDimensionDetail" type="ccn:AAIDimensionDetail"/>
				  <s:element name="AAICommodityDetail" type="ccn:AAICommodityDetail"/>
				</s:sequence>
			  </s:complexType>
			  <!-- Consignment Detail -->
			  <s:complexType name="ConsignmentDetail">
				<s:sequence>
				  <s:element name="AWBIdentification" type="ccn:AWBIdentification"/>
				  <s:element name="AWBOriginAndDestination" type="ccn:AWBOriginAndDestination"/>
				  <s:element name="QuantityDetail" type="ccn:QuantityDetail"/>
				  <s:element name="VolumeDetail" type="ccn:Volume"/>
				  <s:element name="DensityGroup" type="ccn:DensityGroup"/>
				</s:sequence>
			  </s:complexType>
			  <!-- Flight Booking -->
			  <s:complexType name="FlightBooking">
				<s:sequence>
				  <s:element maxOccurs="2" name="FlightIdentification" type="ccn:FlightIdentification"/>
				</s:sequence>
			  </s:complexType>
			  <!--Routing -->
			  <s:complexType name="Routing">
				<s:sequence>
				  <s:element name="FirstDestination" type="ccn:FirstDestination"/>
				  <s:element maxOccurs="2" minOccurs="0" name="OnwardDestination" type="ccn:OnwardDestination"/>
				</s:sequence>
			  </s:complexType>
			  <!-- Shipper -->
			  <s:complexType name="Shipper">
				<s:sequence>
				  <s:element minOccurs="0" name="ShipperAccountDetail" type="ccn:AccountDetail"/>
				  <s:element name="ShipperName" type="ccn:Name"/>
				  <s:element name="ShipperStreetAddress" type="ccn:StreetAddress"/>
				  <s:element name="ShipperLocation" type="ccn:Location"/>
				  <s:element name="ShipperCodedLocation" type="ccn:CodedLocation"/>
				  <s:element maxOccurs="99" minOccurs="0" name="ShipperContactDetail" type="ccn:ContactDetail"/>
				</s:sequence>
			  </s:complexType>
			  <!-- Consignee -->
			  <s:complexType name="Consignee">
				<s:sequence>
				  <s:element minOccurs="0" name="ConsigneeAccountDetail" type="ccn:AccountDetail"/>
				  <s:element name="ConsigneeName" type="ccn:Name"/>
				  <s:element name="ConsigneeStreetAddress" type="ccn:StreetAddress"/>
				  <s:element name="ConsigneeLocation" type="ccn:Location"/>
				  <s:element name="ConsigneeCodedLocation" type="ccn:CodedLocation"/>
				  <s:element maxOccurs="99" minOccurs="0" name="ConsigneeContactDetail" type="ccn:ContactDetail"/>
				</s:sequence>
			  </s:complexType>
			  <!-- Agent Identification -->
			  <s:complexType name="Agent">
				<s:sequence>
				  <s:element name="AgentAccountDetail" type="ccn:AgtAccountDetail"/>
				  <s:element name="AgentName" type="ccn:Name"/>
				  <s:element name="AgentPlace" type="ccn:Place"/>
				</s:sequence>
			  </s:complexType>
			  <!-- Special Service Request-->
			  <s:complexType name="SSR">
				<s:sequence>
				  <s:element name="SpecialServiceRequest1" type="ccn:SpecialServiceRequestBase"/>
				  <s:element minOccurs="0" name="SpecialServiceRequest2" type="ccn:SpecialServiceRequestBase"/>
				  <s:element minOccurs="0" name="SpecialServiceRequest3" type="ccn:SpecialServiceRequestBase"/>
				</s:sequence>
			  </s:complexType>
			  <!--Also Notify -->
			  <s:complexType name="Notify">
				<s:sequence>
				  <s:element name="NotifyName" type="ccn:Name"/>
				  <s:element name="NotifyStreetAddress" type="ccn:StreetAddress"/>
				  <s:element name="NotifyLocation" type="ccn:Location"/>
				  <s:element name="NotifyCodedLocation" type="ccn:CodedLocation"/>
				  <s:element maxOccurs="99" minOccurs="0" name="NotifyContactDetail" type="ccn:ContactDetail"/>
				</s:sequence>
			  </s:complexType>
			  <!--Account Information-->
			  <s:complexType name="AccountInformation">
				<s:sequence>
				  <s:element maxOccurs="6" name="AccountingDetail" type="ccn:AccountingDetail"/>
				</s:sequence>
			  </s:complexType>
			  <!--Charge Declaration-->
			  <s:complexType name="ChargeDeclaration">
				<s:sequence>
				  <s:element name="ISOCurrencyCode" type="ccn:ISOCurrencyCodeBase"/>
				  <s:element minOccurs="0" name="ChargeCode" type="ccn:ChargeCodeBase"/>
				  <s:element minOccurs="0" name="PCChargeDeclaration" type="ccn:PCChargeDeclaration"/>
				  <s:element name="CarriageDeclaration" type="ccn:CarriageDeclaration"/>
				  <s:element name="CustomDeclaration" type="ccn:CustomDeclaration"/>
				  <s:element name="InsuranceDeclaration" type="ccn:InsuranceDeclaration"/>
				</s:sequence>
			  </s:complexType>
			  <!--Rate Description-->
			  <s:complexType name="RateDescription">
				<s:sequence maxOccurs="11" minOccurs="0">
				  <s:element name="ChargeLineCount" type="ccn:ChargeLineCount"/>
				</s:sequence>
			  </s:complexType>
			  <!--Other Charges-->
			  <s:complexType name="OtherCharge">
				<s:sequence maxOccurs="unbounded" minOccurs="0">
				  <s:element name="ChargeLine" type="ccn:ChargeLine"/>
				</s:sequence>
			  </s:complexType>
			  <!--Prepaid Charge Summary-->
			  <s:complexType name="PrepaidChargeSummary">
				<s:sequence>
				  <s:element name="PrepaidTotalWeightCharge" type="ccn:TotalWeightCharge"/>
				  <s:element name="PrepaidValuationCharge" type="ccn:ValuationCharge"/>
				  <s:element name="PrepaidTaxes" type="ccn:Taxes"/>
				  <s:element name="PrepaidTotalOthChargesDueAgent" type="ccn:OthChargeDueAgent"/>
				  <s:element name="PrepaidTotalOthChargesDueCarrier" type="ccn:OthChargeDueCarrier"/>
				  <s:element name="PrepaidChargeSummaryTotal" type="ccn:ChargeSummary"/>
				</s:sequence>
			  </s:complexType>
			  <!--Collect Charge Summary-->
			  <s:complexType name="CollectChargeSummary">
				<s:sequence>
				  <s:element name="CollectTotalWeightCharge" type="ccn:TotalWeightCharge"/>
				  <s:element name="CollectValuationCharge" type="ccn:ValuationCharge"/>
				  <s:element name="CollectTaxes" type="ccn:Taxes"/>
				  <s:element name="CollectTotalOthChargesDueAgent" type="ccn:OthChargeDueAgent"/>
				  <s:element name="CollectTotalOthChargesDueCarrier" type="ccn:OthChargeDueCarrier"/>
				  <s:element name="CollectChargeSummaryTotal" type="ccn:ChargeSummary"/>
				</s:sequence>
			  </s:complexType>
			  <!--Shipper Certification-->
			  <s:complexType name="ShipperCertification">
				<s:sequence>
				  <s:element name="Signature" type="ccn:SignatureBase"/>
				</s:sequence>
			  </s:complexType>
			  <!--Carrier Exection-->
			  <s:complexType name="CarrierExection">
				<s:sequence>
				  <s:element name="AWBIssueDetail" type="ccn:AWBIssueDetail"/>
				  <s:element minOccurs="0" name="Authorisation" type="ccn:Authorisation"/>
				</s:sequence>
			  </s:complexType>
			  <!--Other Service Information-->
			  <s:complexType name="OtherServiceInfo">
				<s:sequence>
				  <s:element name="OtherServiceInformation1" type="ccn:OtherServiceInformationBase"/>
				  <s:element minOccurs="0" name="OtherServiceInformation2" type="ccn:OtherServiceInformationBase"/>
				  <s:element minOccurs="0" name="OtherServiceInformation3" type="ccn:OtherServiceInformationBase"/>
				</s:sequence>
			  </s:complexType>
			  <!--CC Charge in Dest currency-->
			  <s:complexType name="CCChargeDestinationCurrency">
				<s:sequence>
				  <s:element name="DestinationCurrency" type="ccn:DestinationCurrency"/>
				  <s:element name="CurrencyConversionRate" type="ccn:CurrencyConversionRate"/>
				  <s:element name="ChargeDestinationCurrency" type="ccn:ChargeDestinationCurrency"/>
				  <s:element name="ChargeDestination" type="ccn:ChargeDestination"/>
				  <s:element name="TotalCollectCharge" type="ccn:TotalCollectCharge"/>
				</s:sequence>
			  </s:complexType>
			  <!--Sender Reference-->
			  <s:complexType name="SenderReference">
				<s:sequence>
				  <s:element minOccurs="0" name="SenderOfficeMessageAddress" type="ccn:SenderOfficeMessageAddress"/>
				  <s:element minOccurs="0" name="SenderOfficeFileReference" type="ccn:SenderOfficeFileReference"/>
				  <s:element minOccurs="0" name="SenderParticipantIdentification" type="ccn:SenderParticipantIdentification"/>
				</s:sequence>
			  </s:complexType>
			  <!--Customs Origin -->
			  <s:complexType name="CustomsOrigin">
				<s:sequence>
				  <s:element name="CustomsOriginCode" type="ccn:CustomsOriginCodeBase"/>
				</s:sequence>
			  </s:complexType>
			  <!--Customs Origin -->
			  <s:complexType name="CommissionInformation">
				<s:sequence>
				  <s:element name="NoCommissionIndication" type="ccn:NoCommissionIndication"/>
				  <s:element name="CommissionAmount" type="ccn:CommissionAmount"/>
				  <s:element name="CommissionPercentage" type="ccn:CommissionPercentage"/>
				</s:sequence>
			  </s:complexType>
			  <!--Sales Incentive Information-->
			  <s:complexType name="SalesIncentive">
				<s:sequence>
				  <s:element name="SalesIncentiveDetail" type="ccn:SalesIncentiveDetail"/>
				  <s:element minOccurs="0" name="SalesIncentiveIndication" type="ccn:SalesIncentiveIndication"/>
				</s:sequence>
			  </s:complexType>
			  <!--Agent Reference Data-->
			  <s:complexType name="AgentReferenceData">
				<s:sequence>
				  <s:element name="AgentReference" type="ccn:AgentReference"/>
				</s:sequence>
			  </s:complexType>
			  <!--Special Handlig Details-->
			  <s:complexType name="SpecialHandlingData">
				<s:sequence>
				  <s:element maxOccurs="9" name="SpecialHandlingRequirement" type="ccn:SpecialHandlingRequirement"/>
				</s:sequence>
			  </s:complexType>
			  <!--Nominated Handling party -->
			  <s:complexType name="NominatedHandlingParty">
				<s:sequence>
				  <s:element name="Name" type="ccn:NameBase"/>
				  <s:element name="Place" type="ccn:PlaceBase"/>
				</s:sequence>
			  </s:complexType>
			  <!--Shipment Ref INfo -->
			  <s:complexType name="ShipmentReference">
				<s:sequence>
				  <s:element minOccurs="0" name="ReferenceNumber" type="ccn:ReferenceNumberBase"/>
				  <s:element minOccurs="0" name="SupplementaryShipmentInfo1" type="ccn:SupplementaryShipmentInformationBase"/>
				  <s:element minOccurs="0" name="SupplementaryShipmentInfo2" type="ccn:SupplementaryShipmentInformationBase"/>
				</s:sequence>
			  </s:complexType>
			  <!--Other Participant Information-->
			  <s:complexType name="OtherParticipantInfo">
				<s:sequence>
				  <s:element name="Name" type="ccn:NameBase"/>
				  <s:element minOccurs="0" name="OtherParticipantOfficeMessage" type="ccn:OthParticipantOfficeMessage"/>
				  <s:element minOccurs="0" name="OtherParticipantOfficeFileReference" type="ccn:OthParticipantOfficeFileReference"/>
				  <s:element minOccurs="0" name="OtherParticipantIdentification" type="ccn:OthParticipantIdentification"/>
				</s:sequence>
			  </s:complexType>
			  <!--Other Customs Information-->
			  <s:complexType name="OtherCustomsInfo">
				<s:sequence>
				  <s:element name="ISOCountryCode" nillable="true" type="ccn:ISOCountryCodeBase"/>
				  <s:element minOccurs="0" name="InformationIdentifier" nillable="true" type="ccn:LineIdentifierBase"/>
				  <s:element minOccurs="0" name="CustomsInformationIdentifier" nillable="true" type="ccn:CustomsInformationIdentifierBase"/>
				  <s:element minOccurs="0" name="SupplementCustomInformation" type="ccn:SupplementaryCustomsInformationBase"/>
				</s:sequence>
			  </s:complexType>
			  <!-- Level 2 -->
			  <!-- AWB Identification -->
			  <s:complexType name="AWBIdentification">
				<s:sequence>
				  <s:element name="AirlinePrefix" type="ccn:AirlinePrefixBase"/>
				  <s:element name="AWBSerialNumber" type="ccn:AWBSerialNumberBase"/>
				</s:sequence>
			  </s:complexType>
			  <!-- AWB Origin And Destination -->
			  <s:complexType name="AWBOriginAndDestination">
				<s:sequence>
				  <s:element name="AirportCodeOfOrigin" type="ccn:LocationIdentifierBase"/>
				  <s:element name="AirportCodeOfDestination" type="ccn:LocationIdentifierBase"/>
				</s:sequence>
			  </s:complexType>
			  <!-- Quantity Detail -->
			  <s:complexType name="QuantityDetail">
				<s:sequence>
				  <s:element name="ShipmentDescriptionCode" type="ccn:ShipmentDescriptionCodeBase"/>
				  <s:element name="NumberOfPieces" type="ccn:NumberOfPiecesBase"/>
				  <s:element name="WeightCode" type="ccn:WeightCodeBase"/>
				  <s:element name="Weight" type="ccn:WeightBase"/>
				</s:sequence>
			  </s:complexType>
			  <!--Flight Identification-->
			  <s:complexType name="FlightIdentification">
				<s:sequence>
				  <s:element name="CarrierCode" type="ccn:CarrierCodeBase"/>
				  <s:element name="FlightNumber" type="ccn:FlightNumberBase"/>
				  <s:element name="DayOfScheduledDeparture" type="ccn:DayOfMonthBase"/>
				</s:sequence>
			  </s:complexType>
			  <!-- 1st Destination/Carrier-->
			  <s:complexType name="FirstDestination">
				<s:sequence>
				  <s:element minOccurs="0" name="AirportCityCode" type="ccn:LocationIdentifierBase"/>
				  <s:element name="CarrierCode" type="ccn:CarrierCodeBase"/>
				</s:sequence>
			  </s:complexType>
			  <!-- Onward Destination/Carrier-->
			  <s:complexType name="OnwardDestination">
				<s:sequence>
				  <s:element name="AirportCityCode" type="ccn:LocationIdentifierBase"/>
				  <s:element minOccurs="0" name="CarrierCode" type="ccn:CarrierCodeBase"/>
				</s:sequence>
			  </s:complexType>
			  <!-- Account Detail -->
			  <s:complexType name="AccountDetail">
				<s:sequence>
				  <s:element name="AccountNumber" type="ccn:AccountNumberBase"/>
				</s:sequence>
			  </s:complexType>
			  <!-- Name -->
			  <s:complexType name="Name">
				<s:sequence>
				  <s:element name="Name" type="ccn:NameBase"/>
				</s:sequence>
			  </s:complexType>
			  <!-- Street Address -->
			  <s:complexType name="StreetAddress">
				<s:sequence>
				  <s:element name="StreetAddress" type="ccn:StreetAddressBase"/>
				</s:sequence>
			  </s:complexType>
			  <!-- Location -->
			  <s:complexType name="Location">
				<s:sequence>
				  <s:element name="Place" type="ccn:PlaceBase"/>
				  <s:element minOccurs="0" name="StateProvince" type="ccn:StateProvinceBase"/>
				</s:sequence>
			  </s:complexType>
			  <!-- Coded Location -->
			  <s:complexType name="CodedLocation">
				<s:sequence>
				  <s:element name="ISOCountryCode" type="ccn:ISOCountryCodeBase"/>
				  <s:element minOccurs="0" name="PostCode" type="ccn:PostCodeBase"/>
				</s:sequence>
			  </s:complexType>
			  <!-- Contact Detail -->
			  <s:complexType name="ContactDetail">
				<s:sequence>
				  <s:element name="ContactIdentifier" type="ccn:ContactIdentifierBase"/>
				  <s:element name="ContactNumber" type="ccn:ContactNumberBase"/>
				</s:sequence>
			  </s:complexType>
			  <!-- Place -->
			  <s:complexType name="Place">
				<s:sequence>
				  <s:element name="Place" type="ccn:PlaceBase"/>
				</s:sequence>
			  </s:complexType>
			  <!--Agent Identification Account Detail -->
			  <s:complexType name="AgtAccountDetail">
				<s:sequence>
				  <s:element minOccurs="0" name="AccountNumber" type="ccn:AccountNumberBase"/>
				  <s:element name="AgentNumericCode" type="ccn:IATACargoAgentNumericCodeBase"/>
				  <s:element minOccurs="0" name="AgentCASSAddress" type="ccn:IATACargoAgentCASSAddressBase"/>
				  <s:element minOccurs="0" name="ParticipantIdentifier" type="ccn:ParticipantIdentifierBase"/>
				</s:sequence>
			  </s:complexType>
			  <!--Accounting Information -->
			  <s:complexType name="AccountingDetail">
				<s:sequence>
				  <s:element name="AccountInformationIdentifier" type="ccn:AccountingInformationIdentifierBase"/>
				  <s:element name="AccountInformation" type="ccn:AccountingInformationBase"/>
				</s:sequence>
			  </s:complexType>
			  <!--Prepaid / Collect ChargeInformation -->
			  <s:complexType name="PCChargeDeclaration">
				<s:sequence>
				  <s:element name="WeightValuation" type="ccn:PCIndBase"/>
				  <s:element name="OtherCharges" type="ccn:PCIndBase"/>
				</s:sequence>
			  </s:complexType>
			  <!--Value Carriage Declaration-->
			<s:complexType name="CarriageDeclaration">
				<s:sequence>
						<s:element minOccurs="0" name="DeclaredValueCarriage" type="ccn:DeclaredValueForCarriageBase"/>
						<s:element minOccurs="0" name="NoValueDeclared" type="ccn:DeclaredValueForCarriageBase"/>
				</s:sequence>
			</s:complexType>
			  <!--Value Custom Declaration-->
			  <s:complexType name="CustomDeclaration">
				<s:sequence>
				  <s:element minOccurs="0" name="DeclaredValueCustoms" type="ccn:DeclaredValueForCustomsBase"/>
				  <s:element minOccurs="0" name="NoCustomValue" type="ccn:DeclaredValueForCustomsBase"/>
				</s:sequence>
			  </s:complexType>
			  <!--Value Insurance Declaration-->
			  <s:complexType name="InsuranceDeclaration">
				<s:sequence>
				  <s:element minOccurs="0" name="AmountInsurance" type="ccn:AmountOfInsuranceBase"/>
				  <s:element minOccurs="0" name="NoValue" type="ccn:AmountOfInsuranceBase"/>
				</s:sequence>
			  </s:complexType>
			  <!--Charge Line Count -->
			  <s:complexType name="ChargeLineCount">
				<s:sequence>
				  <s:element name="AWBRateLineNumber" type="ccn:AWBRateLineNumberBase"/>
				  <s:element minOccurs="0" name="PiecesRCPDetail" type="ccn:PiecesRCP"/>
				  <s:element minOccurs="0" name="GrossWeight" type="ccn:GrossWeight"/>
				  <s:element minOccurs="0" name="RateClassDetail" type="ccn:RateClass"/>
				  <s:element minOccurs="0" name="CommodityItemDetail" type="ccn:CommodityItem"/>
				  <s:element minOccurs="0" name="ChargeableWeightDetail" type="ccn:ChargeableWeight"/>
				  <s:element minOccurs="0" name="RateChargeDetail" type="ccn:RateCharge"/>
				  <s:element minOccurs="0" name="TotalDetail" type="ccn:Total"/>
				  <s:element minOccurs="0" name="GoodsDescription" type="ccn:GoodsDescription"/>
				  <s:element minOccurs="0" name="Consolidation" type="ccn:Consolidation"/>
				  <s:element minOccurs="0" name="Dimension" type="ccn:Dimension"/>
				  <s:element minOccurs="0" name="Volume" type="ccn:Volume"/>
				  <s:element minOccurs="0" name="ULDNumber" type="ccn:ULDNumber"/>
				  <s:element minOccurs="0" name="ShipperLoadCount" type="ccn:ShipperLoadCount"/>
				  <s:element minOccurs="0" name="HarmonisedCommodityCode" type="ccn:HarmonisedCommodity"/>
				  <s:element minOccurs="0" name="CountryOriginGoods" type="ccn:CountryOrigin"/>
				  <s:element minOccurs="0" name="ServiceCode" type="ccn:ServiceCode"/>
				</s:sequence>
			  </s:complexType>
			  <!--Pieces/RCP Details-->
			  <s:complexType name="PiecesRCP">
				<s:sequence>
				  <s:element minOccurs="0" name="NumberOfPieces" type="ccn:NumberOfPiecesBase"/>
				  <s:element minOccurs="0" name="RateCombinationPoint" type="ccn:RateCombinationPointBase"/>
				</s:sequence>
			  </s:complexType>
			  <!--Gross Weight Details-->
			  <s:complexType name="GrossWeight">
				<s:sequence>
				  <s:element name="WeightCode" type="ccn:WeightCodeBase"/>
				  <s:element name="Weight" type="ccn:WeightBase"/>
				</s:sequence>
			  </s:complexType>
			  <!--Rate Class Details-->
			  <s:complexType name="RateClass">
				<s:sequence>
				  <s:element name="RateClassCode" type="ccn:RateClassCodeBase"/>
				</s:sequence>
			  </s:complexType>
			  <!--Commodity Item Details-->
			  <s:complexType name="CommodityItem">
				<s:sequence>
				  <s:element minOccurs="0" name="CommodityItemNumber" type="ccn:CommodityItemNumberBase"/>
				  <s:element minOccurs="0" name="ULDRateClass" type="ccn:CommodityItemNumberBase"/>
				  <s:element minOccurs="0" name="RateClassCodeBasis" type="ccn:RateClassCodeBase"/>
				  <s:element minOccurs="0" name="ClassRatePercentage" type="ccn:ClassRatePercentageBase"/>
				  
				</s:sequence>
			  </s:complexType>			  
			  <!--Chargeable Weight Details-->
			  <s:complexType name="ChargeableWeight">
				<s:sequence>
				  <s:element name="Weight" type="ccn:WeightBase"/>
				</s:sequence>
			  </s:complexType>
			  <!--Rate/Charge Details-->
			  <s:complexType name="RateCharge">
				<s:sequence>
				  <s:element name="Rate_Discount" type="ccn:RateOrChargeBase"/>
				</s:sequence>
			  </s:complexType>
			  <!--Total Details-->
			  <s:complexType name="Total">
				<s:sequence>
				  <s:element name="Charge_Discount" type="ccn:ChargeAmountBase"/>
				</s:sequence>
			  </s:complexType>
			  <!--Goods Description-->
			  <s:complexType name="GoodsDescription">
				<s:sequence>
				  <s:element name="NatureQuantityGoods" type="ccn:NatureAndQuantityOfGoodsBase"/>
				</s:sequence>
			  </s:complexType>
			  <!--Consolidation -->
			  <s:complexType name="Consolidation">
				<s:sequence>
				  <s:element name="NatureQuantityGoods" type="ccn:NatureAndQuantityOfGoodsBase"/>
				</s:sequence>
			  </s:complexType>
			  <!--Dimension-->
			  <s:complexType name="Dimension">
				<s:sequence>
				  <s:element minOccurs="0" name="WeightCode" type="ccn:WeightCodeBase"/>
				  <s:element minOccurs="0" name="Weight" type="ccn:WeightBase"/>
				  <s:element name="MeasurementUnitCode" type="ccn:MeasurementUnitCodeBase"/>
				  <s:element name="LengthDimension" type="ccn:LengthDimensionBase"/>
				  <s:element name="WidthDimension" type="ccn:WidthDimensionBase"/>
				  <s:element name="HeightDimension" type="ccn:HeightDimensionBase"/>
				  <s:element name="NumberOfPieces" type="ccn:NumberOfPiecesBase"/>
				</s:sequence>
			  </s:complexType>
			  <!--Volume -->
			  <s:complexType name="Volume">
				<s:sequence>
				  <s:element name="VolumeCode" type="ccn:VolumeCodeBase"/>
				  <s:element name="VolumeAmount" type="ccn:VolumeAmountBase"/>
				</s:sequence>
			  </s:complexType>
			  <!--DensityGroup -->
			  <s:complexType name="DensityGroup">
				<s:sequence>
				  <s:element name="DensityIndicator" type="ccn:DensityIndicatorBase"/>
				  <s:element name="DensityGroup" type="ccn:DensityGroupBase"/>
				</s:sequence>
			  </s:complexType>
			  <!--ULD Number -->
			  <s:complexType name="ULDNumber">
				<s:sequence>
				  <s:element name="ULDType" type="ccn:ULDBase"/>
				  <s:element name="ULDSerialNumber" type="ccn:ULDSerialNumberBase"/>
				  <s:element name="ULDOwnerCode" type="ccn:ULDOwnerCodeBase"/>
				</s:sequence>
			  </s:complexType>
			  <!--Shippers Load and Count-->
			  <s:complexType name="ShipperLoadCount">
				<s:sequence>
				  <s:element name="SLAC" type="ccn:SLACBase"/>
				</s:sequence>
			  </s:complexType>
			  <!--Harmonised Community Code-->
			  <s:complexType name="HarmonisedCommodity">
				<s:sequence>
				  <s:element name="HarmonisedCommodityCode" type="ccn:HarmonisedCommodityCodeBase"/>
				</s:sequence>
			  </s:complexType>
			  <!--Country of Origin of Goods-->
			  <s:complexType name="CountryOrigin">
				<s:sequence>
				  <s:element name="ISOCountryCode" type="ccn:ISOCountryCodeBase"/>
				</s:sequence>
			  </s:complexType>
			  <!--Service code details -->
			  <s:complexType name="ServiceCode">
				<s:sequence>
				  <s:element name="ServiceCode" type="ccn:ServiceCodeBase"/>
				</s:sequence>
			  </s:complexType>
			  <!--ChargeLine details -->
			  <s:complexType name="ChargeLine">
				<s:sequence>
				  <s:element name="PCIndicator" type="ccn:PCIndBase"/>
				  <s:element maxOccurs="3" name="OtherChargeItem" type="ccn:OtherChargeItem"/>
				</s:sequence>
			  </s:complexType>
			  <!--Other Charge Item-->
			  <s:complexType name="OtherChargeItem">
				<s:sequence>
				  <!--s:element name="OtherChargeLineNumber" type="ccn:AWBRateLineNumberBase" /-->
				  <s:element name="OtherChargeCode" type="ccn:OtherChargeCodeBase"/>
				  <s:element name="EntitlementCode" type="ccn:EntitlementCodeBase"/>
				  <s:element name="ChargeAmount" type="ccn:ChargeAmountBase"/>
				</s:sequence>
			  </s:complexType>
			  <!--Total Weight Charges-->
			  <s:complexType name="TotalWeightCharge">
				<s:sequence>
				  <s:element name="ChargeAmount" type="ccn:ChargeAmountBase"/>
				</s:sequence>
			  </s:complexType>
			  <!--Valuation Charge-->
			  <s:complexType name="ValuationCharge">
				<s:sequence>
				  <s:element name="ChargeAmount" type="ccn:ChargeAmountBase"/>
				</s:sequence>
			  </s:complexType>
			  <!--Taxes-->
			  <s:complexType name="Taxes">
				<s:sequence>
				  <s:element name="ChargeAmount" type="ccn:ChargeAmountBase"/>
				</s:sequence>
			  </s:complexType>
			  <!--Total Other Charges Due Agent-->
			  <s:complexType name="OthChargeDueAgent">
				<s:sequence>
				  <s:element name="ChargeAmount" type="ccn:ChargeAmountBase"/>
				</s:sequence>
			  </s:complexType>
			  <!--Total Other Charges Due Carrier-->
			  <s:complexType name="OthChargeDueCarrier">
				<s:sequence>
				  <s:element name="ChargeAmount" type="ccn:ChargeAmountBase"/>
				</s:sequence>
			  </s:complexType>
			  <!--Charge Summary Total-->
			  <s:complexType name="ChargeSummary">
				<s:sequence>
				  <s:element name="ChargeAmount" type="ccn:ChargeAmountBase"/>
				</s:sequence>
			  </s:complexType>
			  <!--AWB Issue Details-->
			  <s:complexType name="AWBIssueDetail">
				<s:sequence>
				  <s:element name="Day" type="ccn:DayOfMonthBase"/>
				  <s:element name="Month" type="ccn:MonthBase"/>
				  <s:element name="Year" type="ccn:YearBase"/>
				  <s:element minOccurs="0" name="Place" type="ccn:PlaceBase"/>
				  <s:element minOccurs="0" name="AirportCityCode" type="ccn:LocationIdentifierBase"/>
				</s:sequence>
			  </s:complexType>
			  <!--Authorisation-->
			  <s:complexType name="Authorisation">
				<s:sequence>
				  <s:element name="Signature" type="ccn:SignatureBase"/>
				</s:sequence>
			  </s:complexType>
			  <!--DestinationCurrency-->
			  <s:complexType name="DestinationCurrency">
				<s:sequence>
				  <s:element name="ISOCurrencyCode" type="ccn:ISOCurrencyCodeBase"/>
				</s:sequence>
			  </s:complexType>
			  <!--CurrencyConversionRate-->
			  <s:complexType name="CurrencyConversionRate">
				<s:sequence>
				  <s:element name="RateExchange" type="ccn:RateOfExchangeBase"/>
				</s:sequence>
			  </s:complexType>
			  <!--CC ChargesDestinationCurrency-->
			  <s:complexType name="ChargeDestinationCurrency">
				<s:sequence>
				  <s:element name="ChargeAmount" type="ccn:ChargeAmountBase"/>
				</s:sequence>
			  </s:complexType>
			  <!--Charges at Destination-->
			  <s:complexType name="ChargeDestination">
				<s:sequence>
				  <s:element name="ChargeAmount" type="ccn:ChargeAmountBase"/>
				</s:sequence>
			  </s:complexType>
			  <!--Total Collect Charges-->
			  <s:complexType name="TotalCollectCharge">
				<s:sequence>
				  <s:element name="ChargeAmount" type="ccn:ChargeAmountBase"/>
				</s:sequence>
			  </s:complexType>
			  <!--Sender Reference-->
			  <s:complexType name="SenderOfficeMessageAddress">
				<s:sequence>
				  <s:element name="AirportCityCode" type="ccn:LocationIdentifierBase"/>
				  <s:element name="OfficeFunctionDesignator" type="ccn:OfficeFunctionDesignatorBase"/>
				  <s:element name="CompanyDesignator" type="ccn:CompanyDesignatorBase"/>
				</s:sequence>
			  </s:complexType>
			  <!--Sender Office File Reference-->
			  <s:complexType name="SenderOfficeFileReference">
				<s:sequence>
				  <s:element name="FileReference" type="ccn:BookingFileReferenceBase"/>
				</s:sequence>
			  </s:complexType>
			  <!--SenderParticipantIdentification -->
			  <s:complexType name="SenderParticipantIdentification">
				<s:sequence>
				  <s:element name="ParticipantIdentifier" type="ccn:ParticipantIdentifierBase"/>
				  <s:element name="ParticipantCode" type="ccn:ParticipantCodeBase"/>
				  <s:element name="AirportCityCode" type="ccn:LocationIdentifierBase"/>
				</s:sequence>
			  </s:complexType>
			  <!--No Commission Indication-->
			  <s:complexType name="NoCommissionIndication">
				<s:sequence>
				  <s:element name="CASSIndicator" type="ccn:CASSBase"/>
				</s:sequence>
			  </s:complexType>
			  <!--Commission Amount-->
			  <s:complexType name="CommissionAmount">
				<s:sequence>
				  <s:element name="CASSSettlementFactor" type="ccn:CASSSettlementFactorBase"/>
				</s:sequence>
			  </s:complexType>
			  <!--Commission Amount-->
			  <s:complexType name="CommissionPercentage">
				<s:sequence>
				  <s:element name="CASSSettlementFactor" type="ccn:CASSSettlementFactorBase"/>
				</s:sequence>
			  </s:complexType>
			  <!--SalesIncentive Details-->
			  <s:complexType name="SalesIncentiveDetail">
				<s:sequence>
				  <s:element name="ChargeAmount" type="ccn:ChargeAmountBase"/>
				</s:sequence>
			  </s:complexType>
			  <!--SalesIncentive Indication-->
			  <s:complexType name="SalesIncentiveIndication">
				<s:sequence>
				  <s:element name="CASSIndicator" type="ccn:CASSBase"/>
				</s:sequence>
			  </s:complexType>
			  <!--Agent Reference-->
			  <s:complexType name="AgentReference">
				<s:sequence>
				  <s:element name="FileReference" type="ccn:BookingFileReferenceBase"/>
				</s:sequence>
			  </s:complexType>
			  <!--Special Handling-->
			  <s:complexType name="SpecialHandlingRequirement">
				<s:sequence>
				  <s:element name="SpecialHandlingCode" type="ccn:SpecialHandlingCodeBase"/>
				</s:sequence>
			  </s:complexType>
			  <!--ParticipantOfficeMessage-->
			  <s:complexType name="OthParticipantOfficeMessage">
				<s:sequence>
				  <s:element name="AirportCityCode" type="ccn:LocationIdentifierBase"/>
				  <s:element name="OfficeFunctionDesignator" type="ccn:OfficeFunctionDesignatorBase"/>
				  <s:element name="CompanyDesignator" type="ccn:CompanyDesignatorBase"/>
				</s:sequence>
			  </s:complexType>
			  <!--ParticipantOfficeFileReference-->
			  <s:complexType name="OthParticipantOfficeFileReference">
				<s:sequence>
				  <s:element name="FileReference" type="ccn:BookingFileReferenceBase"/>
				</s:sequence>
			  </s:complexType>
			  <!--ParticipantIdentification-->
			  <s:complexType name="OthParticipantIdentification">
				<s:sequence>
				  <s:element name="ParticipantIdentifier" type="ccn:ParticipantIdentifierBase"/>
				  <s:element name="ParticipantCode" type="ccn:ParticipantCodeBase"/>
				  <s:element name="AirportCityCode" type="ccn:LocationIdentifierBase"/>
				</s:sequence>
			  </s:complexType>
			  <s:complexType name="AAIParticipantDetail">
				<s:sequence>
				  <s:element name="RecipientOfMessage" type="ccn:RecipientOfMessageBase"/>
				  <s:element name="CarrierCodeBased" type="ccn:CarrierCodeBase"/>
				  <s:element name="TotalChargeableWeight" type="ccn:WeightBase"/>
				</s:sequence>
			  </s:complexType>
			  <s:complexType name="DimensionDetail">
				<s:sequence>
				  <s:element name="Length" type="ccn:AAIDimessionBase"/>
				  <s:element name="Breadth" type="ccn:AAIDimessionBase"/>
				  <s:element name="Height" type="ccn:AAIDimessionBase"/>
				  <s:element name="NumberOfPackages" type="ccn:AAINumberOfPackagesBase"/>
				</s:sequence>
			  </s:complexType>
			  <s:complexType name="CommodityDetail">
				<s:sequence>
				  <s:element name="Commodity" type="ccn:AAICommodityBase"/>
				  <s:element name="NumberOfPackages" type="ccn:AAINumberOfPackagesBase"/>
				  <s:element name="GrossWeight" type="ccn:AAIWeightBase"/>
				  <s:element name="ChargeableWeight" type="ccn:AAIWeightBase"/>
				</s:sequence>
			  </s:complexType>
			  <s:complexType name="AAITSPDetail">
				<s:sequence>
				  <s:element name="ShippingBillNumber" type="ccn:AAIShippingBillNumber"/>
				</s:sequence>
			  </s:complexType>
			  <s:complexType name="AAIDimensionDetail">
				<s:sequence>
				  <s:element maxOccurs="41" minOccurs="0" name="DimensionDetail" type="ccn:DimensionDetail"/>
				</s:sequence>
			  </s:complexType>
			  <s:complexType name="AAICommodityDetail">
				<s:sequence>
				  <s:element name="CommodityDetail" type="ccn:CommodityDetail"/>
				</s:sequence>
			  </s:complexType>			
			<s:complexType name="StandardMessageIdentification">
				<s:sequence>
					<s:element name="StandardMessageIdentification" type="ccn:StandardMessageIdentifierBase"/>
					<s:element maxOccurs="1" minOccurs="0" name="MessageTypeVersionNumber" type="ccn:MessageTypeVersionNumberBase"/>
				</s:sequence>
			</s:complexType>
			<s:simpleType id="DE100" name="MessageSequenceNumberBase">
				<s:restriction base="s:string">
					<s:pattern value="[0-9]{1,2}"/>
				</s:restriction>
			</s:simpleType>
			<s:simpleType id="DE101" name="StandardMessageIdentifierBase">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z]{3}"/>
					<s:enumeration value="MUP"/>
					<s:enumeration value="FAR"/>
					<s:enumeration value="FAD"/>
					<s:enumeration value="FWC"/>
					<s:enumeration value="FWB"/>
					<s:enumeration value="FWR"/>
					<s:enumeration value="FAC"/>
					<s:enumeration value="FFM"/>
					<s:enumeration value="FOR"/>
					<s:enumeration value="FOA"/>
					<s:enumeration value="FFA"/>
					<s:enumeration value="FFC"/>
					<s:enumeration value="FFR"/>
					<s:enumeration value="FXX"/>
					<s:enumeration value="FMX"/>
					<s:enumeration value="CAC"/>
					<s:enumeration value="DCM"/>
					<s:enumeration value="FCI"/>
					<s:enumeration value="FCR"/>
					<s:enumeration value="FCV"/>
					<s:enumeration value="FYT"/>
					<s:enumeration value="FMC"/>
					<s:enumeration value="FCA"/>
					<s:enumeration value="FCC"/>
					<s:enumeration value="FHL"/>
					<s:enumeration value="FBV"/>
					<s:enumeration value="CIR"/>
					<s:enumeration value="CSI"/>
					<s:enumeration value="CSN"/>
					<s:enumeration value="FDD"/>
					<s:enumeration value="FDA"/>
					<s:enumeration value="FNA"/>
					<s:enumeration value="FAI"/>
					<s:enumeration value="FAS"/>
					<s:enumeration value="FBL"/>
					<s:enumeration value="FBR"/>
					<s:enumeration value="FCB"/>
					<s:enumeration value="FFT"/>
					<s:enumeration value="STR"/>
					<s:enumeration value="STA"/>
					<s:enumeration value="FZB"/>
					<s:enumeration value="FZA"/>
					<s:enumeration value="FZD"/>
					<s:enumeration value="FZC"/>
					<s:enumeration value="FZE"/>
					<s:enumeration value="FRP"/>
					<s:enumeration value="MAM"/>
					<s:enumeration value="MLD"/>
					<s:enumeration value="FMA"/>
					<s:enumeration value="FSL"/>
					<s:enumeration value="FMB"/>
					<s:enumeration value="FPM"/>
					<s:enumeration value="FMR"/>
					<s:enumeration value="FPA"/>
					<s:enumeration value="FPR"/>
					<s:enumeration value="FPU"/>
					<s:enumeration value="FTA"/>
					<s:enumeration value="FTR"/>
					<s:enumeration value="FVA"/>
					<s:enumeration value="FVR"/>
					<s:enumeration value="FQA"/>
					<s:enumeration value="FQR"/>
					<s:enumeration value="FSA"/>
					<s:enumeration value="FSR"/>
					<s:enumeration value="FSU"/>
					<s:enumeration value="FSB"/>
					<s:enumeration value="FRA"/>
					<s:enumeration value="FRR"/>
					<s:enumeration value="SBA"/>
					<s:enumeration value="SBR"/>
					<s:enumeration value="SCI"/>
					<s:enumeration value="STM"/>
					<s:enumeration value="SPA"/>
					<s:enumeration value="SPX"/>
					<s:enumeration value="SPR"/>
					<s:enumeration value="SSU"/>
					<s:enumeration value="FUM"/>
					<s:enumeration value="FUA"/>
					<s:enumeration value="FUR"/>
					<s:enumeration value="MUC"/>
					<s:enumeration value="LUC"/>
					<s:enumeration value="UTR"/>
					<s:enumeration value="UCM"/>
					<s:enumeration value="SCM"/>
					<s:enumeration value="UWS"/>
					<s:enumeration value="COR"/>
					<s:enumeration value="PDM"/>
					<s:enumeration value="SLI"/>
					<s:enumeration value="AWR"/>
					<s:enumeration value="CTM"/>
					<s:enumeration value="FIM"/>
					<s:enumeration value="IFE"/>
					<s:enumeration value="IFH"/>
					<s:enumeration value="MCC"/>
					<s:enumeration value="SUM"/>
				</s:restriction>
			</s:simpleType>
			<s:simpleType id="DE102" name="EndOfMessageCodeBase">
				<s:restriction base="s:string">
					<s:enumeration value="LAST"/>
					<s:enumeration value="CONT"/>
				</s:restriction>
			</s:simpleType>
			<s:simpleType id="DE103" name="LineIdentifierBase">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z]{3}"/>
				</s:restriction>
			</s:simpleType>
			<s:simpleType name="MessageTypeVersionNumberBase">
				<s:restriction base="s:string">
					<s:pattern value="[0-9]{1,3}"/>
				</s:restriction>
			</s:simpleType>
			<s:simpleType id="DE105" name="AWBColumnIdentifierBase">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z]{1}"/>
				</s:restriction>
			</s:simpleType>
			<s:simpleType id="DE106" name="AWBRateLineNumberBase">
				<s:restriction base="s:string">
					<s:pattern value="[0-9]{1,2}"/>
				</s:restriction>
			</s:simpleType>
			<s:simpleType id="DE107" name="OfficeFunctionDesignatorBase">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z0-9]{2}"/>
				</s:restriction>
			</s:simpleType>
			<s:simpleType id="DE108" name="AccountNumberBase">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z0-9\.\-\ ]{1,14}"/>
				</s:restriction>
			</s:simpleType>
			<s:simpleType id="DE109" name="TelephoneNumberBase">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z0-9\.\-\ ]{1,14}"/>
				</s:restriction>
			</s:simpleType>
			<s:simpleType id="DE111" name="EmbargoNumberBase">
				<s:restriction base="s:string">
					<s:pattern value="[0-9]{1,3}"/>
				</s:restriction>
			</s:simpleType>
			<s:simpleType id="DE112" name="AirlinePrefixBase">
				<s:restriction base="s:string">
					<s:pattern value="[0-9]{3}"/>
				</s:restriction>
			</s:simpleType>
			<s:simpleType id="DE113" name="AWBSerialNumberBase">
				<s:restriction base="s:string">
					<s:pattern value="[0-9]{8}"/>
				</s:restriction>
			</s:simpleType>
			<s:simpleType id="DE114" name="CCASerialNumberBase">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z0-9]{1}[0-9]{5}"/>
				</s:restriction>
			</s:simpleType>
			<s:simpleType id="DE115" name="ULDSerialNumberBase">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z0-9]{1}[0-9]{3}[0-9]?"/>
				</s:restriction>
			</s:simpleType>
			<s:simpleType id="DE117" name="BookingFileReferenceBase">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z0-9\.\-\ ]{1,15}"/>
				</s:restriction>
			</s:simpleType>
			<s:simpleType id="DE118" name="TransferManifestNumberBase">
				<s:restriction base="s:string">
					<s:pattern value="[0-9]{6}"/>
				</s:restriction>
			</s:simpleType>
			<s:simpleType id="DE119" name="HWBSerialNumberBase">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z0-9]{1,12}"/>
				</s:restriction>
			</s:simpleType>
			<s:simpleType id="DE120" name="MasterAWBIndicatorBase">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z]{1}"/>
				</s:restriction>
			</s:simpleType>
			<s:simpleType id="DE121" name="TransferTransitControlNumberBase">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z0-9\.\-\ ]{1,12}"/>
				</s:restriction>
			</s:simpleType>
			<s:simpleType id="DE122" name="ContactIdentifierBase">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z0-9]{1,3}"/>
				</s:restriction>
			</s:simpleType>
			<s:simpleType id="DE123" name="ContactNumberBase">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z0-9]{1,25}"/>
				</s:restriction>
			</s:simpleType>
			<s:simpleType id="DE124" name="MessageVersionNumberBase">
				<s:restriction base="s:string">
					<s:pattern value="[0-9]{1,3}"/>
				</s:restriction>
			</s:simpleType>
			<s:simpleType id="DE125" name="TextSubjectQualifierBase">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z0-9]{3}"/>
				</s:restriction>
			</s:simpleType>
			<s:simpleType id="DE126" name="TextReferenceBase">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z0-9]{3}"/>
				</s:restriction>
			</s:simpleType>
			<s:simpleType id="DE127" name="FreeTextBase">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z0-9\.\-\ ]{1,65}"/>
				</s:restriction>
			</s:simpleType>
			<s:simpleType id="DE128" name="HWBAsAgreedBase">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z]{1}"/>
				</s:restriction>
			</s:simpleType>
			<s:simpleType id="DE130" name="ApplicationReferenceNumberBase">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z0-9\.\-\ ]{1,35}"/>
				</s:restriction>
			</s:simpleType>
			<s:simpleType id="DE131" name="IdentificationNumberBase">
				<s:restriction base="s:string">
					<s:pattern value="[0-9]{1,8}"/>
				</s:restriction>
			</s:simpleType>
			<s:simpleType id="DE132" name="ReferenceNumberBase">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z0-9\.\-\ ]{1,14}"/>
				</s:restriction>
			</s:simpleType>
			<s:simpleType id="DE133" name="SupplementaryShipmentInformationBase">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z0-9\.\-\ ]{1,12}"/>
				</s:restriction>
			</s:simpleType>
			<s:simpleType id="DE134" name="VehicleBookingReferenceBase">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z0-9]{1,8}"/>
				</s:restriction>
			</s:simpleType>
			<s:simpleType id="DE135" name="VehiclePlateNumberBase">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z0-9\.\-\ ]{1,10}"/>
				</s:restriction>
			</s:simpleType>
			<s:simpleType id="DE136" name="AWBIndividualPieceNumberBase">
				<s:restriction base="s:string">
					<s:pattern value="[0-9]{4}"/>
				</s:restriction>
			</s:simpleType>
			<s:simpleType id="DE137" name="HWBIndividualPieceNumberBase">
				<s:restriction base="s:string">
					<s:pattern value="[0-9]{4}"/>
				</s:restriction>
			</s:simpleType>
			<s:simpleType id="DE138" name="PieceIdentificationIndicatorBase">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z]{1}"/>
				</s:restriction>
			</s:simpleType>
			<s:simpleType id="DE139" name="UniquePieceNumberBase">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z0-9\.\-\ ]{1,35}"/>
				</s:restriction>
			</s:simpleType>
			<s:simpleType id="DE140" name="VoucherSerialNumberBase">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z0-9]{1,12}"/>
				</s:restriction>
			</s:simpleType>
			<s:simpleType id="DE141" name="TicketNumberBase">
				<s:restriction base="s:string">
					<s:pattern value="[0-9]{13,15}"/>
				</s:restriction>
			</s:simpleType>
			<s:simpleType id="DE142" name="BagTagNumberBase">
				<s:restriction base="s:string">
					<s:pattern value="[0-9]{6}"/>
				</s:restriction>
			</s:simpleType>
			<s:simpleType id="DE200" name="YearBase">
				<s:restriction base="s:string">
					<s:pattern value="[0-9]{2}"/>
				</s:restriction>
			</s:simpleType>
			<s:simpleType id="DE201" name="MonthBase">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z]{3}"/>
				</s:restriction>
			</s:simpleType>
			<s:simpleType id="DE207" name="ofInformationIndicatorBase">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z]{1}"/>
				</s:restriction>
			</s:simpleType>
			<s:simpleType id="DE202" name="DayOfMonthBase">
				<s:restriction base="s:string">
					<s:pattern value="[0-9]{2}"/>
				</s:restriction>
			</s:simpleType>
			<s:simpleType id="DE300" name="NameBase">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z0-9\.\-\ ]{1,35}"/>
				</s:restriction>
			</s:simpleType>
			<s:simpleType id="DE301" name="StreetAddressBase">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z0-9\.\-\ ]{1,35}"/>
				</s:restriction>
			</s:simpleType>
			<s:simpleType id="DE302" name="PlaceBase">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z0-9\.\-\ ]{1,17}"/>
				</s:restriction>
			</s:simpleType>
			<s:simpleType id="DE303" name="StateProvinceBase">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z0-9\.\-\ ]{1,9}"/>
				</s:restriction>
			</s:simpleType>
			<s:simpleType id="DE304" name="ISOCountryCodeBase">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z]{2}"/>
				</s:restriction>
			</s:simpleType>
			<s:simpleType id="DE305" name="PostCodeBase">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z0-9\.\-\ ]{1,9}"/>
				</s:restriction>
			</s:simpleType>
			<s:simpleType id="DE308" name="CompanyDesignatorBase">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z0-9]{2}"/>
				</s:restriction>
			</s:simpleType>
			<s:simpleType id="DE309" name="IATACargoAgentCASSAddressBase">
				<s:restriction base="s:string">
					<s:pattern value="[0-9]{4}"/>
				</s:restriction>
			</s:simpleType>
			<s:simpleType id="DE310" name="AbbreviatedNameBase">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z0-9\.\-\ ]{1,17}"/>
				</s:restriction>
			</s:simpleType>
			<s:simpleType id="DE311" name="IATACargoAgentNumericCodeBase">
				<s:restriction base="s:string">
					<s:pattern value="[0-9]{7}"/>
				</s:restriction>
			</s:simpleType>
			<s:simpleType id="DE312" name="CarrierCodeBase">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z0-9]{2}"/>
				</s:restriction>
			</s:simpleType>
			<s:simpleType id="DE313" name="LocationIdentifierBase">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z]{3}"/>
				</s:restriction>
			</s:simpleType>
			<s:simpleType id="DE315" name="EntitlementCodeBase">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z]{1}"/>
				</s:restriction>
			</s:simpleType>
			<s:simpleType id="DE316" name="RateCombinationPointBase">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z]{3}"/>
				</s:restriction>
			</s:simpleType>
			<s:simpleType id="DE319" name="ParticipantIdentifierBase">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z0-9]{1,3}"/>
				</s:restriction>
			</s:simpleType>
			<s:simpleType id="DE320" name="ParticipantCodeBase">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z0-9]{1,17}"/>
				</s:restriction>
			</s:simpleType>
			<s:simpleType id="DE402" name="NilCargoCodeBase">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z]{3}"/>
				</s:restriction>
			</s:simpleType>
			<s:simpleType id="DE403" name="PCIndBase">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z]{1}"/>
				</s:restriction>
			</s:simpleType>
			<s:simpleType id="DE404" name="SpecialServiceRequestBase">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z0-9\.\-\ ]{1,65}"/>
				</s:restriction>
			</s:simpleType>
			<s:simpleType id="DE405" name="OtherServiceInformationBase">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z0-9\.\-\ ]{1,65}"/>
				</s:restriction>
			</s:simpleType>
			<s:simpleType id="DE406" name="EmbargoDetailBase">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z0-9\.\-\ ]{1,65}"/>
				</s:restriction>
			</s:simpleType>
			<s:simpleType id="DE409" name="SpaceAllocationCodeBase">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z]{2}"/>
				</s:restriction>
			</s:simpleType>
			<s:simpleType id="DE410" name="AccountingInformationBase">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z0-9\.\-\ ]{1,34}"/>
				</s:restriction>
			</s:simpleType>
			<s:simpleType id="DE411" name="AccountingInformationIdentifierBase">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z]{3}"/>
				</s:restriction>
			</s:simpleType>
			<s:simpleType id="DE414" name="SignatureBase">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z0-9\.\-\ ]{1,20}"/>
				</s:restriction>
			</s:simpleType>
			<s:simpleType id="DE417" name="AllotmentIdentificationBase">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z0-9]{1,14}"/>
				</s:restriction>
			</s:simpleType>
			<s:simpleType id="DE418" name="ReasonForAcknowledgementBase">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z0-9\.\-\ ]{1,65}"/>
				</s:restriction>
			</s:simpleType>
			<s:simpleType id="DE421" name="AllotmentStatusCodeBase">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z]{1}"/>
				</s:restriction>
			</s:simpleType>
			<s:simpleType id="DE500" name="VolumeAmountBase">
				<s:restriction base="s:string">
					<s:pattern value="[0-9\.]{1,9}"/>
				</s:restriction>
			</s:simpleType>
			<s:simpleType id="DE501" name="ChargeAmountBase">
				<s:restriction base="s:string">
					<s:pattern value="[0-9\.]{1,12}"/>
				</s:restriction>
			</s:simpleType>
			<s:simpleType id="DE502" name="ChargeIdentifierBase">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z]{2}"/>
				</s:restriction>
			</s:simpleType>
			<s:simpleType id="DE503" name="ChargeCodeBase">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z]{2}"/>
				</s:restriction>
			</s:simpleType>
			<s:simpleType id="DE504" name="OtherChargeCodeBase">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z]{2}"/>
				</s:restriction>
			</s:simpleType>
			<s:simpleType id="DE505" name="ServiceCodeBase">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z]{1}"/>
				</s:restriction>
			</s:simpleType>
			<s:simpleType id="DE506" name="RateOrChargeBase">
				<s:restriction base="s:string">
					<s:pattern value="[0-9\.]{1,8}"/>
				</s:restriction>
			</s:simpleType>
			<s:simpleType id="DE507" name="RateClassCodeBase">
				<s:restriction base="s:string">
				</s:restriction>
			</s:simpleType>
			<s:simpleType id="DE508" name="AmountOfInsuranceBase">
				<s:restriction base="s:string">
					<s:pattern value="[0-9\.]{1,11}|XXX"/>
				</s:restriction>
			</s:simpleType>
			<s:simpleType id="DE509" name="DeclaredValueForCustomsBase">
				<s:restriction base="s:string">
					<s:pattern value="[0-9\.]{1,12}|NCV"/>
				</s:restriction>
			</s:simpleType>
			<s:simpleType id="DE510" name="DeclaredValueForCarriageBase">
				<s:restriction base="s:string">
					<s:pattern value="[0-9\.]{1,12}|NVD"/>
				</s:restriction>
			</s:simpleType>
			<s:simpleType id="DE511" name="ClassRatePercentageBase">
				<s:restriction base="s:string">
					<s:pattern value="[0-9]{1,3}"/>
				</s:restriction>
			</s:simpleType>
			<s:simpleType id="DE513" name="ULDRateClassBase">
				<s:restriction base="s:string">
					<s:pattern value="[0-9]{1}[A-Z]{0,1}[A-Z]{0,1}"/>
				</s:restriction>
			</s:simpleType>
			<s:simpleType id="DE600" name="WeightBase">
				<s:restriction base="s:string">
					<s:pattern value="[0-9\.]{1,7}"/>
				</s:restriction>
			</s:simpleType>
			<s:simpleType id="DE601" name="WeightCodeBase">
				<s:restriction base="s:string">
				</s:restriction>
			</s:simpleType>
			<s:simpleType id="DE602" name="DensityGroupBase">
				<s:restriction base="s:string">
					<s:pattern value="[0-9]{1,2}"/>
				</s:restriction>
			</s:simpleType>
			<s:simpleType id="DE603" name="DensityIndicatorBase">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z]{2}"/>
				</s:restriction>
			</s:simpleType>
			<s:simpleType id="DE604" name="VolumeCodeBase">
				<s:restriction base="s:string">
				</s:restriction>
			</s:simpleType>
			<s:simpleType id="DE606" name="ISOCurrencyCodeBase">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z]{3}"/>
				</s:restriction>
			</s:simpleType>
			<s:simpleType id="DE607" name="RateOfExchangeBase">
				<s:restriction base="s:string">
					<s:pattern value="[0-9\.]{1,11}"/>
				</s:restriction>
			</s:simpleType>
			<s:simpleType id="DE608" name="LengthDimensionBase">
				<s:restriction base="s:string">
					<s:pattern value="[0-9]{1,5}"/>
				</s:restriction>
			</s:simpleType>
			<s:simpleType id="DE609" name="WidthDimensionBase">
				<s:restriction base="s:string">
					<s:pattern value="[0-9]{1,5}"/>
				</s:restriction>
			</s:simpleType>
			<s:simpleType id="DE610" name="HeightDimensionBase">
				<s:restriction base="s:string">
					<s:pattern value="[0-9]{1,5}"/>
				</s:restriction>
			</s:simpleType>
			<s:simpleType id="DE611" name="MeasurementUnitCodeBase">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z0-9]{1,3}"/>
				</s:restriction>
			</s:simpleType>
			<s:simpleType id="DE613" name="CASSSettlementFactorBase">
				<s:restriction base="s:string">
					<s:pattern value="[0-9\.]{1,12}"/>
				</s:restriction>
			</s:simpleType>
			<s:simpleType id="DE614" name="CASSBase">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z]{1,2}"/>
				</s:restriction>
			</s:simpleType>
			<s:simpleType id="DE701" name="NumberOfPiecesBase">
				<s:restriction base="s:string">
					<s:pattern value="[0-9]{1,4}"/>
				</s:restriction>
			</s:simpleType>
			<s:simpleType id="DE702" name="NumberOfULDsBase">
				<s:restriction base="s:string">
					<s:pattern value="[0-9]{1,2}"/>
				</s:restriction>
			</s:simpleType>
			<s:simpleType id="DE703" name="ShipmentDescriptionCodeBase">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z]{1}"/>
				</s:restriction>
			</s:simpleType>
			<s:simpleType id="DE704" name="MovementPriorityCodeBase">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z]{1}"/>
				</s:restriction>
			</s:simpleType>
			<s:simpleType id="DE705" name="SpecialHandlingCodeBase">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z]{3}"/>
				</s:restriction>
			</s:simpleType>
			<s:simpleType id="DE707" name="CommodityItemNumberBase">
				<s:restriction base="s:string">
					<s:pattern value="[0-9]{4,7}"/>
				</s:restriction>
			</s:simpleType>
			<s:simpleType id="DE708" name="ManifestDescriptionOfGoodsBase">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z0-9\.\-\ ]{1,15}"/>
				</s:restriction>
			</s:simpleType>
			<s:simpleType id="DE709" name="NatureAndQuantityOfGoodsBase">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z0-9\.\-\ ]{1,20}"/>
				</s:restriction>
			</s:simpleType>
			<s:simpleType id="DE710" name="GoodsDateIdentifierBase">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z]{1}"/>
				</s:restriction>
			</s:simpleType>
			<s:simpleType id="DE714" name="SLACBase">
				<s:restriction base="s:string">
					<s:pattern value="[0-9]{1,5}"/>
				</s:restriction>
			</s:simpleType>
			<s:simpleType id="DE800" name="FlightNumberBase">
				<s:restriction base="s:string">
					<s:pattern value="[0-9]{3}[0-9]?[A-Z]?"/>
				</s:restriction>
			</s:simpleType>
			<s:simpleType id="DE801" name="ULDOwnerCodeBase">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z0-9]{2}"/>
				</s:restriction>
			</s:simpleType>
			<s:simpleType id="DE802" name="ULDBase">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z]{1}[A-Z0-9]{2}"/>
				</s:restriction>
			</s:simpleType>
			<s:simpleType id="DE804" name="ULDRemarksBase">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z0-9\.\-\ ]{1,53}"/>
				</s:restriction>
			</s:simpleType>
			<s:simpleType id="DE803" name="ULDVolumeAvailableCodeBase">
				<s:restriction base="s:string">
					<s:pattern value="[0-9]{1}"/>
				</s:restriction>
			</s:simpleType>
			<s:simpleType id="DE808" name="AircraftRegistrationBase">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z0-9\.\-\ ]{1,10}"/>
				</s:restriction>
			</s:simpleType>
			<s:simpleType id="DE811" name="ULDLoadingIndicatorBase">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z]{1}"/>
				</s:restriction>
			</s:simpleType>
			<s:simpleType id="DE900" name="HarmonisedCommodityCodeBase">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z0-9]{6,18}"/>
				</s:restriction>
			</s:simpleType>
			<s:simpleType id="DE906" name="CustomsOriginCodeBase">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z0-9]{1,2}"/>
				</s:restriction>
			</s:simpleType>
			<s:simpleType id="DE907" name="CustomsReferenceBase">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z0-9\.\-\ ]{1,15}"/>
				</s:restriction>
			</s:simpleType>
			<s:simpleType id="DE940" name="SupplementaryCustomsInformationBase">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z0-9\.\-\ ]{1,35}"/>
				</s:restriction>
			</s:simpleType>
			<s:simpleType id="DE941" name="CustomsInformationIdentifierBase">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z]{1,2}"/>
				</s:restriction>
			</s:simpleType>
			<!-- Hussin Added 21Sep06 -->
			<s:simpleType id="DE203" name="ActualTimeBase">
				<s:restriction base="s:string">
					<s:pattern value="[0-9]{4}"/>
				</s:restriction>
			</s:simpleType>
			<s:simpleType id="DE400" name="StatusCodeBase">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z]{3}"/>
				</s:restriction>
			</s:simpleType>
			<s:simpleType id="DE205" name="DayChangeIndicatorBase">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z]{1}"/>
				</s:restriction>
			</s:simpleType>
			<s:simpleType id="DE206" name="OfTimeIndicatorBase">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z]{1}"/>
				</s:restriction>
			</s:simpleType>
			<s:simpleType id="DE706" name="DiscrepancyCodeBase">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z]{4}"/>
				</s:restriction>
			</s:simpleType>
			<s:simpleType id="DE809" name="AircraftPossibilityCodeBase">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z]{3}"/>
				</s:restriction>
			</s:simpleType>
			<s:simpleType id="DE419" name="ConnectionRestrictionIndicatorBase">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z]{1}"/>
				</s:restriction>
			</s:simpleType>
			<s:simpleType id="DE307" name="ICAOCarrierCodeBase">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z]{3}"/>
				</s:restriction>
			</s:simpleType>
			<s:simpleType id="DE204" name="DayOfWeekBase">
				<s:restriction base="s:string">
					<s:pattern value="[0-9]{1}"/>
				</s:restriction>
			</s:simpleType>
			<s:simpleType id="DE810" name="AircraftCodeBase">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z0-9]{3}"/>
				</s:restriction>
			</s:simpleType>
			<s:simpleType id="DE322" name="NumberOfStopsBase">
				<s:restriction base="s:string">
					<s:pattern value="[0-9]{1}"/>
				</s:restriction>
			</s:simpleType>
			<s:simpleType id="DE420" name="ReasonforNoDisplayBase">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z0-9\.\-\ ]{1,65}"/>
				</s:restriction>
			</s:simpleType>
			<s:simpleType id="DE422" name="SPSNameBase">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z0-9\ ]{1,25}"/>
				</s:restriction>
			</s:simpleType>
			<s:simpleType id="DE423" name="DueCarrierBase">
				<s:restriction base="s:string">
					<s:pattern value="[AC]{1}"/>
				</s:restriction>
			</s:simpleType>
			<!--Simple comment-->
			<s:simpleType name="LineBase">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z0-9\.\-\ ]{1,45}"/>
				</s:restriction>
			</s:simpleType>
			<s:simpleType name="RecipientOfMessageBase">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z]{3}"/>
				</s:restriction>
			</s:simpleType>
			<s:simpleType name="AAIDimessionBase">
				<s:restriction base="s:string">
					<s:pattern value="[0-9\.]{1,8}"/>
				</s:restriction>
			</s:simpleType>
			<s:simpleType name="AAINumberOfPackagesBase">
				<s:restriction base="s:string">
					<s:pattern value="[0-9]{0,10}"/>
				</s:restriction>
			</s:simpleType>
			<s:simpleType name="AAICommodityBase">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z]{4}"/>
				</s:restriction>
			</s:simpleType>
			<s:simpleType name="AAIWeightBase">
				<s:restriction base="s:string">
					<s:pattern value="[0-9\.]{0,17}"/>
				</s:restriction>
			</s:simpleType>
			<s:simpleType name="AAIShippingBillNumber">
				<s:restriction base="s:string">
					<s:pattern value="[0-9]{4}"/>
				</s:restriction>
			</s:simpleType>
			<s:simpleType name="YearFourDigitBase">
				<s:restriction base="s:string">
					<s:pattern value="[0-9]{4}"/>
				</s:restriction>
			</s:simpleType>
			<s:simpleType name="HourBase">
				<s:restriction base="s:string">
					<s:pattern value="[0-9]{2}"/>
				</s:restriction>
			</s:simpleType>
			<s:simpleType name="MinuteBase">
				<s:restriction base="s:string">
					<s:pattern value="[0-9]{2}"/>
				</s:restriction>
			</s:simpleType>
			<s:simpleType name="SecondBase">
				<s:restriction base="s:string">
					<s:pattern value="[0-9]{2}"/>
				</s:restriction>
			</s:simpleType>
			<s:simpleType name="ActionFlagBase">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z]{1}"/>
				</s:restriction>
			</s:simpleType>
			<s:simpleType name="ActionFlagIFEBase">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z]{3}"/>
				</s:restriction>
			</s:simpleType>
			<s:simpleType name="AgentCodeBase">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z0-9]{3,10}"/>
				</s:restriction>
			</s:simpleType>
			<s:simpleType name="MessageSerialNumberBase">
				<s:restriction base="s:string">
					<s:pattern value="[0-9]{0,3}"/>
				</s:restriction>
			</s:simpleType>
			<s:simpleType name="MonthDigitBase">
				<s:restriction base="s:string">
					<s:pattern value="[0-9]{2}"/>
				</s:restriction>
			</s:simpleType>
			<s:simpleType name="TimeBase">
				<s:restriction base="s:string">
					<s:pattern value="[0-9]{4}"/>
				</s:restriction>
			</s:simpleType>
		</s:schema>
	</types>
	<message name="CCNMessageSoapIn">
		<part element="ccn:CCN.MSG" name="parameter"/>
	</message>
	<message name="NewMessage"/>
	<portType name="CCN.MSGSoap">
		<operation name="AirWaybillData">
			<input message="ccn:CCNMessageSoapIn"/>
		</operation>
	</portType>
	<binding name="CCN.MSGSoap" type="ccn:CCN.MSGSoap">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="AirWaybillData">
			<soap:operation soapAction="http://www.ccn.com.sg/CCNMSGWS/AirWaybillData" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
	</binding>
	<service name="CCN.MSGService">
		<port binding="ccn:CCN.MSGSoap" name="CCN.MSG">
			<soap:address location="http://localhost:8080/FOS/services/CCN.MSG"/>
		</port>
	</service>
</definitions>
