FOS/src/main/webapp/wsdl/CPProductService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://impl.service.ccn.com.sg" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://impl.service.ccn.com.sg" xmlns:intf="http://impl.service.ccn.com.sg" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://impl.service.ccn.com.sg" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://xml.apache.org/xml-soap"/>
   <element name="Activate">
    <complexType>
     <sequence>
      <element name="accountId" type="xsd:string"/>
      <element name="keyValuePair" type="apachesoap:Map"/>
     </sequence>
    </complexType>
   </element>
   <element name="ActivateResponse">
    <complexType/>
   </element>
   <element name="Suspend">
    <complexType>
     <sequence>
      <element name="accountId" type="xsd:string"/>
      <element name="keyValuePair" type="apachesoap:Map"/>
     </sequence>
    </complexType>
   </element>
   <element name="SuspendResponse">
    <complexType/>
   </element>
   <element name="UnSuspend">
    <complexType>
     <sequence>
      <element name="accountId" type="xsd:string"/>
      <element name="keyValuePair" type="apachesoap:Map"/>
     </sequence>
    </complexType>
   </element>
   <element name="UnSuspendResponse">
    <complexType/>
   </element>
   <element name="Terminate">
    <complexType>
     <sequence>
      <element name="accountId" type="xsd:string"/>
      <element name="keyValuePair" type="apachesoap:Map"/>
     </sequence>
    </complexType>
   </element>
   <element name="TerminateResponse">
    <complexType/>
   </element>
   <element name="ValidateAccess">
    <complexType>
     <sequence>
      <element name="accountId" type="xsd:string"/>
      <element name="keyValuePair" type="apachesoap:Map"/>
     </sequence>
    </complexType>
   </element>
   <element name="ValidateAccessResponse">
    <complexType/>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://xml.apache.org/xml-soap" xmlns="http://www.w3.org/2001/XMLSchema">
   <complexType name="mapItem">
    <sequence>
     <element name="key" nillable="true" type="xsd:anyType"/>
     <element name="value" nillable="true" type="xsd:anyType"/>
    </sequence>
   </complexType>
   <complexType name="Map">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="apachesoap:mapItem"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="ValidateAccessRequest">

      <wsdl:part element="impl:ValidateAccess" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="TerminateRequest">

      <wsdl:part element="impl:Terminate" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="UnSuspendRequest">

      <wsdl:part element="impl:UnSuspend" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="UnSuspendResponse">

      <wsdl:part element="impl:UnSuspendResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="ActivateResponse">

      <wsdl:part element="impl:ActivateResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="ValidateAccessResponse">

      <wsdl:part element="impl:ValidateAccessResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="SuspendRequest">

      <wsdl:part element="impl:Suspend" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="SuspendResponse">

      <wsdl:part element="impl:SuspendResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="TerminateResponse">

      <wsdl:part element="impl:TerminateResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="ActivateRequest">

      <wsdl:part element="impl:Activate" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="CPProductService">

      <wsdl:operation name="Activate">

         <wsdl:input message="impl:ActivateRequest" name="ActivateRequest">

       </wsdl:input>

         <wsdl:output message="impl:ActivateResponse" name="ActivateResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="Suspend">

         <wsdl:input message="impl:SuspendRequest" name="SuspendRequest">

       </wsdl:input>

         <wsdl:output message="impl:SuspendResponse" name="SuspendResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="UnSuspend">

         <wsdl:input message="impl:UnSuspendRequest" name="UnSuspendRequest">

       </wsdl:input>

         <wsdl:output message="impl:UnSuspendResponse" name="UnSuspendResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="Terminate">

         <wsdl:input message="impl:TerminateRequest" name="TerminateRequest">

       </wsdl:input>

         <wsdl:output message="impl:TerminateResponse" name="TerminateResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="ValidateAccess">

         <wsdl:input message="impl:ValidateAccessRequest" name="ValidateAccessRequest">

       </wsdl:input>

         <wsdl:output message="impl:ValidateAccessResponse" name="ValidateAccessResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="CPProductServiceSoapBinding" type="impl:CPProductService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="Activate">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="ActivateRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="ActivateResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="Suspend">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="SuspendRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="SuspendResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="UnSuspend">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="UnSuspendRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="UnSuspendResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="Terminate">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="TerminateRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="TerminateResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="ValidateAccess">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="ValidateAccessRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="ValidateAccessResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="CPProductServiceService">

      <wsdl:port binding="impl:CPProductServiceSoapBinding" name="CPProductService">

         <wsdlsoap:address location="http://localhost:8080/FOS/services/CPProductService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
