FOS/ccn/wsdl/CCNMessage_FHL.WSDL

<?xml version="1.0" encoding="UTF-8"?>
<!--edited by Kyaw Myo Thet -->
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:ccn="http://www.ccn.com.sg/CCNMSGWS" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://www.w3.org/2000/09/xmldsig#" targetNamespace="http://www.ccn.com.sg/CCNMSGWS">
	<types>
		<s:schema targetNamespace="http://www.ccn.com.sg/CCNMSGWS" elementFormDefault="unqualified" attributeFormDefault="unqualified">
		<s:element name="CCN.MSG" type="ccn:CCN.MSG"/>
			<s:complexType name="CCN.MSG">
				<s:sequence>
					<s:element name="MsgEnvelope" type="ccn:Envelope"/>
					<s:element name="MsgBody" type="ccn:MsgBody"/>
				</s:sequence>
			</s:complexType>
			<s:complexType name="Envelope">
				<s:sequence>
					<s:element name="Priority" type="ccn:PriorityBase" minOccurs="0">
						<s:annotation>
							<s:documentation>Priority Code</s:documentation>
						</s:annotation>
					</s:element>
					<s:element name="RecipientPimaAddress" type="ccn:PimaAddressBase"/>
					<s:element name="SenderPimaAddress" type="ccn:PimaAddressBase"/>
					<s:element name="GMT" type="ccn:GMTBase"/>
					<s:element name="SenderOriginalCode" type="ccn:SenderOriginalCodeBase"/>
					<s:element name="MessageSequenceNumber" type="ccn:InterchangeReferenceNumberBase"/>
				</s:sequence>
			</s:complexType>
			<s:simpleType name="PriorityBase">
				<s:restriction base="s:string">
					<s:pattern value="QK|QU|QP|QD"/>
				</s:restriction>
			</s:simpleType>
			<s:simpleType name="PimaAddressBase">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z0-9/]{1,35}"/>
				</s:restriction>
			</s:simpleType>
			<s:simpleType name="SenderOriginalCodeBase">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z0-9 /]{1,15}"/>
				</s:restriction>
			</s:simpleType>
			<s:simpleType name="TTYAddressBase">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z0-9]{7}"/>
				</s:restriction>
			</s:simpleType>
			<s:simpleType name="GMTBase">
				<s:restriction base="s:string">
					<s:pattern value="[0-9]{6}"/>
				</s:restriction>
			</s:simpleType>
			<s:simpleType name="DoubleSignatureBase">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z]{2}"/>
				</s:restriction>
			</s:simpleType>
			<s:simpleType name="InterchangeReferenceNumberBase">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z0-9]{14}"/>
				</s:restriction>
			</s:simpleType>
			<s:complexType name="MsgBody">
				<s:sequence>
					<s:element name="FHL" type="ccn:FHL"/>
				</s:sequence>
			</s:complexType>
			<s:complexType name="FHL">
				<s:sequence>
					<s:element name="StandardMessageIdentification" type="ccn:StandardMessageIdentification" />
					<s:element name="MasterAWBConsignmentDetail" type="ccn:MasterAWBConsignmentDetail" />
					<s:element name="HouseAndFreeTextGroup" type="ccn:HouseAndFreeTextGroup" />
					<s:element name="ShipperNameAndAddress" type="ccn:ShipperNameAndAddress" />
					<s:element name="ConsigneeNameAndAddress" type="ccn:ConsigneeNameAndAddress" />
					<s:element name="ChargeDeclarations" type="ccn:ChargeDeclarations" />
					<s:element name="AAIParticipantDetail" type="ccn:ParticipantDetail" minOccurs="0" />
					<s:element name="AAITSPDetail" type="ccn:TSPDetail" minOccurs="0" />
				</s:sequence>
			</s:complexType>
			<s:complexType name="StandardMessageIdentification">			
			    <s:sequence>
			      <s:element name="StandardMessageIdentification" type="ccn:StandardMessageIdentifierBase" />
			      <s:element name="MessageTypeVersionNumber" type="ccn:MessageSequenceNumberBase" />			      
			    </s:sequence>
			  </s:complexType>
			<!-- Grouping -->
			<s:complexType name="HouseAndFreeTextGroup">
				<s:sequence>
					<s:element name="HouseWaybillSummaryDetail" type="ccn:HouseWaybillSummaryDetail" />
					<s:element name="FreeTextDescriptionOfGoods" type="ccn:FreeTextDescriptionOfGoods" minOccurs="0" maxOccurs="9" />
					<s:element name="HarmonisedTariffScheduleInformation" type="ccn:HarmonisedTariffScheduleInformation" minOccurs="0" maxOccurs="9" />
					<s:element name="OtherCustomsInfo" type="ccn:OtherCustomsInfo" minOccurs="0" maxOccurs="99" />
				</s:sequence>
			</s:complexType>
			<!-- Level 1 -->
			<s:complexType name="MasterAWBConsignmentDetail">
				<s:sequence>
					<s:element name="MasterAWBIdentification" type="ccn:MasterAWBIdentification" />
					<s:element name="AWBOriginAndDestination" type="ccn:AWBOriginAndDestination" />
					<s:element name="QuantityDetail" type="ccn:QuantityDetail" />
				</s:sequence>
			</s:complexType>
			<s:complexType name="HouseWaybillSummaryDetail">
				<s:sequence>
					<s:element name="HWBSerialNumber" type="ccn:HWBSerialNumberBase" />
					<s:element name="HouseWaybillOriginAndDestination" type="ccn:HouseWaybillOriginAndDestination" />
					<s:element name="HouseWaybillTotals" type="ccn:HouseWaybillTotals" />
					<s:element name="NatureOfGoods" type="ccn:NatureOfGoods" />
					<s:element name="SpecialHandlingRequirements" type="ccn:SpecialHandlingRequirements" minOccurs="0" maxOccurs="9" />
				</s:sequence>
			</s:complexType>
			<s:complexType name="FreeTextDescriptionOfGoods">
				<s:sequence>
					<s:element name="FreeText" type="ccn:FreeTextBase" />
				</s:sequence>
			</s:complexType>
			<s:complexType name="ShipperNameAndAddress">
				<s:sequence>
					<s:element name="SHPName" type="ccn:NameBase" />
					<s:element name="SHPStreetAddress" type="ccn:StreetAddress" />
					<s:element name="SHPLocation" type="ccn:Location" />
					<s:element name="SHPCodedLocation" type="ccn:CodedLocation" />
					<s:element name="SHPContactDetail" type="ccn:ContactDetail" minOccurs="0" maxOccurs="99"/>
				</s:sequence>
			</s:complexType>
			<s:complexType name="ConsigneeNameAndAddress">
				<s:sequence>
					<s:element name="CNEName" type="ccn:NameBase" />
					<s:element name="CNEStreetAddress" type="ccn:StreetAddress" />
					<s:element name="CNELocation" type="ccn:Location" />
					<s:element name="CNECodedLocation" type="ccn:CodedLocation" />
					<s:element name="CNEContactDetail" type="ccn:ContactDetail" minOccurs="0" maxOccurs="99"/>
				</s:sequence>
			</s:complexType>
			<s:complexType name="ChargeDeclarations">
				<s:sequence>
					<s:element name="ISOCurrencyCode" type="ccn:ISOCurrencyCodeBase" />
					<s:element name="PrepaidCollectChargeDeclarations" type="ccn:PrepaidCollectChargeDeclarations" />
					<s:element name="ValueForCarriageDeclaration" type="ccn:ValueForCarriageDeclaration" />
					<s:element name="ValueForCustomsDeclaration" type="ccn:ValueForCustomsDeclaration" />
					<s:element name="ValueForInsuranceDeclaration" type="ccn:ValueForInsuranceDeclaration" />
				</s:sequence>
			</s:complexType>
			<!-- Level 2 -->
			<s:complexType name="MasterAWBIdentification">
				<s:sequence>
					<s:element name="AirlinePrefix" type="ccn:AirlinePrefixBase" />
					<s:element name="AWBSerialNumber" type="ccn:AWBSerialNumberBase" />
				</s:sequence>
			</s:complexType>
			<s:complexType name="AWBOriginAndDestination">
				<s:sequence>
					<s:element name="AirportccnyCodeOfOrigin" type="ccn:LocationIdentifierBase" />
					<s:element name="AirportccnyCodeOfDestination" type="ccn:LocationIdentifierBase" />
				</s:sequence>
			</s:complexType>
			<s:complexType name="QuantityDetail">
				<s:sequence>
					<s:element name="ShipmentDescriptionCode" type="ccn:ShipmentDescriptionCodeBase" />
					<s:element name="NumberOfPieces" type="ccn:NumberOfPiecesBase" />
					<s:element name="WeightCode" type="ccn:WeightCodeBase" />
					<s:element name="Weight" type="ccn:WeightBase" />
				</s:sequence>
			</s:complexType>
			<s:complexType name="HouseWaybillOriginAndDestination">
				<s:sequence>
					<s:element name="AirportccnyCodeOfDeparture" type="ccn:LocationIdentifierBase" />
					<s:element name="AirportccnyCodeOfDestination" type="ccn:LocationIdentifierBase" />
				</s:sequence>
			</s:complexType>
			<s:complexType name="HouseWaybillTotals">
				<s:sequence>
					<s:element name="NumberOfPieces" type="ccn:NumberOfPiecesBase" />
					<s:element name="WeightCode" type="ccn:WeightCodeBase" />
					<s:element name="Weight" type="ccn:WeightBase" />
					<s:element name="SLAC" type="ccn:SLACBase" nillable="true" />
				</s:sequence>
			</s:complexType>
			<s:complexType name="NatureOfGoods">
				<s:sequence>
					<s:element name="ManifestDescriptionOfGoods" type="ccn:ManifestDescriptionOfGoodsBase" />
				</s:sequence>
			</s:complexType>
			<s:complexType name="SpecialHandlingRequirements">
				<s:sequence>
					<s:element name="SpecialHandlingCode" type="ccn:SpecialHandlingCodeBase" />					
				</s:sequence>
			</s:complexType>
			<s:complexType name="StreetAddress">
				<s:sequence>
					<s:element name="StreetAddress" type="ccn:StreetAddressBase" />
				</s:sequence>
			</s:complexType>
			<s:complexType name="Location">
				<s:sequence>
					<s:element name="Place" type="ccn:PlaceBase" />
					<s:element name="StateProvince" type="ccn:StateProvinceBase" minOccurs="0" />
				</s:sequence>
			</s:complexType>
			<s:complexType name="CodedLocation">
				<s:sequence>
					<s:element name="ISOCountryCode" type="ccn:ISOCountryCodeBase" />
					<s:element name="PostCode" type="ccn:PostCodeBase" minOccurs="0" />
				</s:sequence>
			</s:complexType>
			<s:complexType name="ContactDetail">
				<s:sequence>
					<s:element name="ContactIdentifier" type="ccn:ContactIdentifierBase" />
					<s:element name="ContactNumber" type="ccn:ContactNumberBase" />
				</s:sequence>
			</s:complexType>
			<s:complexType name="PrepaidCollectChargeDeclarations">
				<s:sequence minOccurs="0">
					<s:element name="PCIndWeightValuation" type="ccn:PCIndBase" />
					<s:element name="PCIndOtherCharges" type="ccn:PCIndBase" />
				</s:sequence>
			</s:complexType>
			<s:complexType name="ValueForCarriageDeclaration">
				<s:sequence minOccurs="0">
					<s:element name="DeclaredValueForCarriage" type="ccn:DeclaredValueForCarriageBase" minOccurs="0" nillable="true" />
					<s:element name="NoValueDeclared" type="ccn:DeclaredValueForCarriageBase" minOccurs="0" nillable="true" />
				</s:sequence>
			</s:complexType>
			<s:complexType name="ValueForCustomsDeclaration">
				<s:sequence minOccurs="0">
					<s:element name="DeclaredValueForCustoms" type="ccn:DeclaredValueForCustomsBase" minOccurs="0" nillable="true" />
					<s:element name="NoCustomsValue" type="ccn:DeclaredValueForCustomsBase" minOccurs="0" nillable="true" />
				</s:sequence>
			</s:complexType>
			<s:complexType name="ValueForInsuranceDeclaration">
				<s:sequence minOccurs="0">
					<s:element name="DeclaredValueForInsurance" type="ccn:AmountOfInsuranceBase" minOccurs="0" nillable="true" />
					<s:element name="NoValue" type="ccn:AmountOfInsuranceBase" minOccurs="0" nillable="true" />
				</s:sequence>
			</s:complexType>
			<s:complexType name="ParticipantDetail">
				<s:sequence>
					<s:element name="RecipientOfMessage" type="ccn:RecipientOfMessageBase" />
					<s:element name="CarrierCodeBased" type="ccn:CarrierCodeBase" />
					<s:element name="TotalChargeableWeight" type="ccn:WeightBase" />
				</s:sequence>
			</s:complexType>
			<s:complexType name="TSPDetail">
				<s:sequence>
					<s:element name="ShippingBillNumber" type="ccn:AAIShippingBillNumber" />
				</s:sequence>
			</s:complexType>
			<s:complexType name="HarmonisedTariffScheduleInformation">
				<s:sequence>
					<s:element name="HarmonisedCommodityCode" type="ccn:HarmonisedCommodityCodeBase" />
				</s:sequence>
			</s:complexType>
			<s:complexType name="OtherCustomsInfo">
				<s:sequence>
					<s:element name="ISOCountryCode" type="ccn:ISOCountryCodeBase" nillable="true" />
					<s:element name="InformationIdentifier" type="ccn:LineIdentifierBase" nillable="true" />
					<s:element name="CustomsInformationIdentifier" type="ccn:CustomsInformationIdentifierBase" nillable="true" />
					<s:element name="SupplementCustomInformation" type="ccn:SupplementaryCustomsInformationBase" />
				</s:sequence>
			</s:complexType>
		
			
			<s:simpleType name="MessageSequenceNumberBase" id="DE100">
				<s:restriction base="s:string">
					<s:pattern value="[0-9]{1,2}" />
				</s:restriction>
			</s:simpleType>
			<s:simpleType name="StandardMessageIdentifierBase" id="DE101">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z]{3}" />
					<s:enumeration value="MUP" />
					<s:enumeration value="FAR" />
					<s:enumeration value="FAD" />
					<s:enumeration value="FWC" />
					<s:enumeration value="FWB" />
					<s:enumeration value="FWR" />
					<s:enumeration value="FAC" />
					<s:enumeration value="FFM" />
					<s:enumeration value="FOR" />
					<s:enumeration value="FOA" />
					<s:enumeration value="FFA" />
					<s:enumeration value="FFC" />
					<s:enumeration value="FFR" />
					<s:enumeration value="FXX" />
					<s:enumeration value="FMX" />
					<s:enumeration value="CAC" />
					<s:enumeration value="DCM" />
					<s:enumeration value="FCI" />
					<s:enumeration value="FCR" />
					<s:enumeration value="FCV" />
					<s:enumeration value="FYT" />
					<s:enumeration value="FMC" />
					<s:enumeration value="FCA" />
					<s:enumeration value="FCC" />
					<s:enumeration value="FHL" />
					<s:enumeration value="FBV" />
					<s:enumeration value="CIR" />
					<s:enumeration value="CSI" />
					<s:enumeration value="CSN" />
					<s:enumeration value="FDD" />
					<s:enumeration value="FDA" />
					<s:enumeration value="FNA" />
					<s:enumeration value="FAI" />
					<s:enumeration value="FAS" />
					<s:enumeration value="FBL" />
					<s:enumeration value="FBR" />
					<s:enumeration value="FCB" />
					<s:enumeration value="FFT" />
					<s:enumeration value="STR" />
					<s:enumeration value="STA" />
					<s:enumeration value="FZB" />
					<s:enumeration value="FZA" />
					<s:enumeration value="FZD" />
					<s:enumeration value="FZC" />
					<s:enumeration value="FZE" />
					<s:enumeration value="FRP" />
					<s:enumeration value="MAM" />
					<s:enumeration value="MLD" />
					<s:enumeration value="FMA" />
					<s:enumeration value="FSL" />
					<s:enumeration value="FMB" />
					<s:enumeration value="FPM" />
					<s:enumeration value="FMR" />
					<s:enumeration value="FPA" />
					<s:enumeration value="FPR" />
					<s:enumeration value="FPU" />
					<s:enumeration value="FTA" />
					<s:enumeration value="FTR" />
					<s:enumeration value="FVA" />
					<s:enumeration value="FVR" />
					<s:enumeration value="FQA" />
					<s:enumeration value="FQR" />
					<s:enumeration value="FSA" />
					<s:enumeration value="FSR" />
					<s:enumeration value="FSU" />
					<s:enumeration value="FSB" />
					<s:enumeration value="FRA" />
					<s:enumeration value="FRR" />
					<s:enumeration value="SBA" />
					<s:enumeration value="SBR" />
					<s:enumeration value="SCI" />
					<s:enumeration value="STM" />
					<s:enumeration value="SPA" />
					<s:enumeration value="SPX" />
					<s:enumeration value="SPR" />
					<s:enumeration value="SSU" />
					<s:enumeration value="FUM" />
					<s:enumeration value="FUA" />
					<s:enumeration value="FUR" />
					<s:enumeration value="MUC" />
					<s:enumeration value="LUC" />
					<s:enumeration value="UTR" />
					<s:enumeration value="UCM" />
					<s:enumeration value="SCM" />
					<s:enumeration value="UWS" />
					<s:enumeration value="COR" />
					<s:enumeration value="PDM" />
					<s:enumeration value="SLI" />
					<s:enumeration value="AWR" />
					<s:enumeration value="CTM" />
					<s:enumeration value="FIM" />
					<s:enumeration value="IFE" />
					<s:enumeration value="IFH" />
					<s:enumeration value="MCC" />
					<s:enumeration value="SUM" />
				</s:restriction>
			</s:simpleType>
			<s:simpleType name="EndOfMessageCodeBase" id="DE102">
				<s:restriction base="s:string">
					<s:enumeration value="LAST" />
					<s:enumeration value="CONT" />
				</s:restriction>
			</s:simpleType>
			<s:simpleType name="LineIdentifierBase" id="DE103">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z]{3}" />
				</s:restriction>
			</s:simpleType>
			<s:simpleType name="MessageTypeVersionNumberBase">
				<s:restriction base="s:string">
					<s:pattern value="[0-9]{1,3}" />
				</s:restriction>
			</s:simpleType>
			<s:simpleType name="AWBColumnIdentifierBase" id="DE105">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z]{1}" />
				</s:restriction>
			</s:simpleType>
			<s:simpleType name="AWBRateLineNumberBase" id="DE106">
				<s:restriction base="s:string">
					<s:pattern value="[0-9]{1,2}" />
				</s:restriction>
			</s:simpleType>
			<s:simpleType name="OfficeFunctionDesignatorBase" id="DE107">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z0-9]{2}" />
				</s:restriction>
			</s:simpleType>
			<s:simpleType name="AccountNumberBase" id="DE108">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z0-9\.\-\ ]{1,14}" />
				</s:restriction>
			</s:simpleType>
			<s:simpleType name="TelephoneNumberBase" id="DE109">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z0-9\.\-\ ]{1,14}" />
				</s:restriction>
			</s:simpleType>
			<s:simpleType name="EmbargoNumberBase" id="DE111">
				<s:restriction base="s:string">
					<s:pattern value="[0-9]{1,3}" />
				</s:restriction>
			</s:simpleType>
			<s:simpleType name="AirlinePrefixBase" id="DE112">
				<s:restriction base="s:string">
					<s:pattern value="[0-9]{3}" />
				</s:restriction>
			</s:simpleType>
			<s:simpleType name="AWBSerialNumberBase" id="DE113">
				<s:restriction base="s:string">
					<s:pattern value="[0-9]{8}" />
				</s:restriction>
			</s:simpleType>
			<s:simpleType name="CCASerialNumberBase" id="DE114">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z0-9]{1}[0-9]{5}" />
				</s:restriction>
			</s:simpleType>
			<s:simpleType name="ULDSerialNumberBase" id="DE115">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z0-9]{1}[0-9]{3}[0-9]?" />
				</s:restriction>
			</s:simpleType>
			<s:simpleType name="BookingFileReferenceBase" id="DE117">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z0-9\.\-\ ]{1,15}" />
				</s:restriction>
			</s:simpleType>
			<s:simpleType name="TransferManifestNumberBase" id="DE118">
				<s:restriction base="s:string">
					<s:pattern value="[0-9]{6}" />
				</s:restriction>
			</s:simpleType>
			<s:simpleType name="HWBSerialNumberBase" id="DE119">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z0-9]{1,12}" />
				</s:restriction>
			</s:simpleType>
			<s:simpleType name="MasterAWBIndicatorBase" id="DE120">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z]{1}" />
				</s:restriction>
			</s:simpleType>
			<s:simpleType name="TransferTransitControlNumberBase" id="DE121">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z0-9\.\-\ ]{1,12}" />
				</s:restriction>
			</s:simpleType>
			<s:simpleType name="ContactIdentifierBase" id="DE122">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z0-9]{1,3}" />
				</s:restriction>
			</s:simpleType>
			<s:simpleType name="ContactNumberBase" id="DE123">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z0-9]{1,25}" />
				</s:restriction>
			</s:simpleType>
			<s:simpleType name="MessageVersionNumberBase" id="DE124">
				<s:restriction base="s:string">
					<s:pattern value="[0-9]{1,3}" />
				</s:restriction>
			</s:simpleType>
			<s:simpleType name="TextSubjectQualifierBase" id="DE125">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z0-9]{3}" />
				</s:restriction>
			</s:simpleType>
			<s:simpleType name="TextReferenceBase" id="DE126">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z0-9]{3}" />
				</s:restriction>
			</s:simpleType>
			<s:simpleType name="FreeTextBase" id="DE127">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z0-9\.\-\ ]{1,65}" />
				</s:restriction>
			</s:simpleType>
			<s:simpleType name="HWBAsAgreedBase" id="DE128">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z]{1}" />
				</s:restriction>
			</s:simpleType>
			<s:simpleType name="ApplicationReferenceNumberBase" id="DE130">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z0-9\.\-\ ]{1,35}" />
				</s:restriction>
			</s:simpleType>
			<s:simpleType name="IdentificationNumberBase" id="DE131">
				<s:restriction base="s:string">
					<s:pattern value="[0-9]{1,8}" />
				</s:restriction>
			</s:simpleType>
			<s:simpleType name="ReferenceNumberBase" id="DE132">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z0-9\.\-\ ]{1,14}" />
				</s:restriction>
			</s:simpleType>
			<s:simpleType name="SupplementaryShipmentInformationBase" id="DE133">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z0-9\.\-\ ]{1,12}" />
				</s:restriction>
			</s:simpleType>
			<s:simpleType name="VehicleBookingReferenceBase" id="DE134">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z0-9]{1,8}" />
				</s:restriction>
			</s:simpleType>
			<s:simpleType name="VehiclePlateNumberBase" id="DE135">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z0-9\.\-\ ]{1,10}" />
				</s:restriction>
			</s:simpleType>
			<s:simpleType name="AWBIndividualPieceNumberBase" id="DE136">
				<s:restriction base="s:string">
					<s:pattern value="[0-9]{4}" />
				</s:restriction>
			</s:simpleType>
			<s:simpleType name="HWBIndividualPieceNumberBase" id="DE137">
				<s:restriction base="s:string">
					<s:pattern value="[0-9]{4}" />
				</s:restriction>
			</s:simpleType>
			<s:simpleType name="PieceIdentificationIndicatorBase" id="DE138">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z]{1}" />
				</s:restriction>
			</s:simpleType>
			<s:simpleType name="UniquePieceNumberBase" id="DE139">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z0-9\.\-\ ]{1,35}" />
				</s:restriction>
			</s:simpleType>
			<s:simpleType name="VoucherSerialNumberBase" id="DE140">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z0-9]{1,12}" />
				</s:restriction>
			</s:simpleType>
			<s:simpleType name="TicketNumberBase" id="DE141">
				<s:restriction base="s:string">
					<s:pattern value="[0-9]{13,15}" />
				</s:restriction>
			</s:simpleType>
			<s:simpleType name="BagTagNumberBase" id="DE142">
				<s:restriction base="s:string">
					<s:pattern value="[0-9]{6}" />
				</s:restriction>
			</s:simpleType>
			<s:simpleType name="YearBase" id="DE200">
				<s:restriction base="s:string">
					<s:pattern value="[0-9]{2}" />
				</s:restriction>
			</s:simpleType>
			<s:simpleType name="MonthBase" id="DE201">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z]{3}" />
				</s:restriction>
			</s:simpleType>
			<s:simpleType name="ofInformationIndicatorBase" id="DE207">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z]{1}" />
				</s:restriction>
			</s:simpleType>
			<s:simpleType name="DayOfMonthBase" id="DE202">
				<s:restriction base="s:string">
					<s:pattern value="[0-9]{2}" />
				</s:restriction>
			</s:simpleType>
			<s:simpleType name="NameBase" id="DE300">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z0-9\.\-\ ]{1,35}" />
				</s:restriction>
			</s:simpleType>
			<s:simpleType name="StreetAddressBase" id="DE301">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z0-9\.\-\ ]{1,35}" />
				</s:restriction>
			</s:simpleType>
			<s:simpleType name="PlaceBase" id="DE302">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z0-9\.\-\ ]{1,17}" />
				</s:restriction>
			</s:simpleType>
			<s:simpleType name="StateProvinceBase" id="DE303">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z0-9\.\-\ ]{1,9}" />
				</s:restriction>
			</s:simpleType>
			<s:simpleType name="ISOCountryCodeBase" id="DE304">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z]{2}" />
				</s:restriction>
			</s:simpleType>
			<s:simpleType name="PostCodeBase" id="DE305">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z0-9\.\-\ ]{1,9}" />
				</s:restriction>
			</s:simpleType>
			<s:simpleType name="CompanyDesignatorBase" id="DE308">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z0-9]{2}" />
				</s:restriction>
			</s:simpleType>
			<s:simpleType name="IATACargoAgentCASSAddressBase" id="DE309">
				<s:restriction base="s:string">
					<s:pattern value="[0-9]{4}" />
				</s:restriction>
			</s:simpleType>
			<s:simpleType name="AbbreviatedNameBase" id="DE310">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z0-9\.\-\ ]{1,17}" />
				</s:restriction>
			</s:simpleType>
			<s:simpleType name="IATACargoAgentNumericCodeBase" id="DE311">
				<s:restriction base="s:string">
					<s:pattern value="[0-9]{7}" />
				</s:restriction>
			</s:simpleType>
			<s:simpleType name="CarrierCodeBase" id="DE312">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z0-9]{2}" />
				</s:restriction>
			</s:simpleType>
			<s:simpleType name="LocationIdentifierBase" id="DE313">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z]{3}" />
				</s:restriction>
			</s:simpleType>
			<s:simpleType name="EntitlementCodeBase" id="DE315">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z]{1}" />
				</s:restriction>
			</s:simpleType>
			<s:simpleType name="RateCombinationPointBase" id="DE316">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z]{3}" />
				</s:restriction>
			</s:simpleType>
			<s:simpleType name="ParticipantIdentifierBase" id="DE319">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z0-9]{1,3}" />
				</s:restriction>
			</s:simpleType>
			<s:simpleType name="ParticipantCodeBase" id="DE320">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z0-9]{1,17}" />
				</s:restriction>
			</s:simpleType>
			<s:simpleType name="NilCargoCodeBase" id="DE402">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z]{3}" />
				</s:restriction>
			</s:simpleType>
			<s:simpleType name="PCIndBase" id="DE403">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z]{1}" />
				</s:restriction>
			</s:simpleType>
			<s:simpleType name="SpecialServiceRequestBase" id="DE404">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z0-9\.\-\ ]{1,65}" />
				</s:restriction>
			</s:simpleType>
			<s:simpleType name="OtherServiceInformationBase" id="DE405">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z0-9\.\-\ ]{1,65}" />
				</s:restriction>
			</s:simpleType>
			<s:simpleType name="EmbargoDetailBase" id="DE406">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z0-9\.\-\ ]{1,65}" />
				</s:restriction>
			</s:simpleType>
			<s:simpleType name="SpaceAllocationCodeBase" id="DE409">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z]{2}" />
				</s:restriction>
			</s:simpleType>
			<s:simpleType name="AccountingInformationBase" id="DE410">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z0-9\.\-\ ]{1,34}" />
				</s:restriction>
			</s:simpleType>
			<s:simpleType name="AccountingInformationIdentifierBase" id="DE411">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z]{3}" />
				</s:restriction>
			</s:simpleType>
			<s:simpleType name="SignatureBase" id="DE414">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z0-9\.\-\ ]{1,20}" />
				</s:restriction>
			</s:simpleType>
			<s:simpleType name="AllotmentIdentificationBase" id="DE417">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z0-9]{1,14}" />
				</s:restriction>
			</s:simpleType>
			<s:simpleType name="ReasonForAcknowledgementBase" id="DE418">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z0-9\.\-\ ]{1,65}" />
				</s:restriction>
			</s:simpleType>
			<s:simpleType name="AllotmentStatusCodeBase" id="DE421">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z]{1}" />
				</s:restriction>
			</s:simpleType>
			<s:simpleType name="VolumeAmountBase" id="DE500">
				<s:restriction base="s:string">
					<s:pattern value="[0-9\.]{1,9}" />
				</s:restriction>
			</s:simpleType>
			<s:simpleType name="ChargeAmountBase" id="DE501">
				<s:restriction base="s:string">
					<s:pattern value="[0-9\.]{1,12}" />
				</s:restriction>
			</s:simpleType>
			<s:simpleType name="ChargeIdentifierBase" id="DE502">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z]{2}" />
				</s:restriction>
			</s:simpleType>
			<s:simpleType name="ChargeCodeBase" id="DE503">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z]{2}" />
				</s:restriction>
			</s:simpleType>
			<s:simpleType name="OtherChargeCodeBase" id="DE504">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z]{2}" />
				</s:restriction>
			</s:simpleType>
			<s:simpleType name="ServiceCodeBase" id="DE505">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z]{1}" />
				</s:restriction>
			</s:simpleType>
			<s:simpleType name="RateOrChargeBase" id="DE506">
				<s:restriction base="s:string">
					<s:pattern value="[0-9\.]{1,8}" />
				</s:restriction>
			</s:simpleType>
			<s:simpleType name="RateClassCodeBase" id="DE507">
				<s:restriction base="s:string">
				</s:restriction>
			</s:simpleType>
			<s:simpleType name="AmountOfInsuranceBase" id="DE508">
				<s:restriction base="s:string">
					<s:pattern value="[0-9\.]{1,11}|XXX" />
				</s:restriction>
			</s:simpleType>
			<s:simpleType name="DeclaredValueForCustomsBase" id="DE509">
				<s:restriction base="s:string">
					<s:pattern value="[0-9\.]{1,12}|NCV" />
				</s:restriction>
			</s:simpleType>
			<s:simpleType name="DeclaredValueForCarriageBase" id="DE510">
				<s:restriction base="s:string">
					<s:pattern value="[0-9\.]{1,12}|NVD" />
				</s:restriction>
			</s:simpleType>
			<s:simpleType name="ClassRatePercentageBase" id="DE511">
				<s:restriction base="s:string">
					<s:pattern value="[0-9]{1,3}" />
				</s:restriction>
			</s:simpleType>
			<s:simpleType name="ULDRateClassBase" id="DE513">
				<s:restriction base="s:string">
					<s:pattern value="[0-9]{1}[A-Z]{0,1}[A-Z]{0,1}" />
				</s:restriction>
			</s:simpleType>
			<s:simpleType name="WeightBase" id="DE600">
				<s:restriction base="s:string">
					<s:pattern value="[0-9\.]{1,7}" />
				</s:restriction>
			</s:simpleType>
			<s:simpleType name="WeightCodeBase" id="DE601">
				<s:restriction base="s:string">
				</s:restriction>
			</s:simpleType>
			<s:simpleType name="DensityGroupBase" id="DE602">
				<s:restriction base="s:string">
					<s:pattern value="[0-9]{1,2}" />
				</s:restriction>
			</s:simpleType>
			<s:simpleType name="DensityIndicatorBase" id="DE603">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z]{2}" />
				</s:restriction>
			</s:simpleType>
			<s:simpleType name="VolumeCodeBase" id="DE604">
				<s:restriction base="s:string">
				</s:restriction>
			</s:simpleType>
			<s:simpleType name="ISOCurrencyCodeBase" id="DE606">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z]{3}" />
				</s:restriction>
			</s:simpleType>
			<s:simpleType name="RateOfExchangeBase" id="DE607">
				<s:restriction base="s:string">
					<s:pattern value="[0-9\.]{1,11}" />
				</s:restriction>
			</s:simpleType>
			<s:simpleType name="LengthDimensionBase" id="DE608">
				<s:restriction base="s:string">
					<s:pattern value="[0-9]{1,5}" />
				</s:restriction>
			</s:simpleType>
			<s:simpleType name="WidthDimensionBase" id="DE609">
				<s:restriction base="s:string">
					<s:pattern value="[0-9]{1,5}" />
				</s:restriction>
			</s:simpleType>
			<s:simpleType name="HeightDimensionBase" id="DE610">
				<s:restriction base="s:string">
					<s:pattern value="[0-9]{1,5}" />
				</s:restriction>
			</s:simpleType>
			<s:simpleType name="MeasurementUnitCodeBase" id="DE611">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z0-9]{1,3}" />
				</s:restriction>
			</s:simpleType>
			<s:simpleType name="CASSSettlementFactorBase" id="DE613">
				<s:restriction base="s:string">
					<s:pattern value="[0-9\.]{1,12}" />
				</s:restriction>
			</s:simpleType>
			<s:simpleType name="CASSBase" id="DE614">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z]{1,2}" />
				</s:restriction>
			</s:simpleType>
			<s:simpleType name="NumberOfPiecesBase" id="DE701">
				<s:restriction base="s:string">
					<s:pattern value="[0-9]{1,4}" />
				</s:restriction>
			</s:simpleType>
			<s:simpleType name="NumberOfULDsBase" id="DE702">
				<s:restriction base="s:string">
					<s:pattern value="[0-9]{1,2}" />
				</s:restriction>
			</s:simpleType>
			<s:simpleType name="ShipmentDescriptionCodeBase" id="DE703">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z]{1}" />
				</s:restriction>
			</s:simpleType>
			<s:simpleType name="MovementPriorityCodeBase" id="DE704">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z]{1}" />
				</s:restriction>
			</s:simpleType>
			<s:simpleType name="SpecialHandlingCodeBase" id="DE705">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z]{3}" />
				</s:restriction>
			</s:simpleType>
			<s:simpleType name="CommodityItemNumberBase" id="DE707">
				<s:restriction base="s:string">
					<s:pattern value="[0-9]{4,7}" />
				</s:restriction>
			</s:simpleType>
			<s:simpleType name="ManifestDescriptionOfGoodsBase" id="DE708">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z0-9\.\-\ ]{1,15}" />
				</s:restriction>
			</s:simpleType>
			<s:simpleType name="NatureAndQuantityOfGoodsBase" id="DE709">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z0-9\.\-\ ]{1,20}" />
				</s:restriction>
			</s:simpleType>
			<s:simpleType name="GoodsDateIdentifierBase" id="DE710">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z]{1}" />
				</s:restriction>
			</s:simpleType>
			<s:simpleType name="SLACBase" id="DE714">
				<s:restriction base="s:string">
					<s:pattern value="[0-9]{1,5}" />
				</s:restriction>
			</s:simpleType>
			<s:simpleType name="FlightNumberBase" id="DE800">
				<s:restriction base="s:string">
					<s:pattern value="[0-9]{3}[0-9]?[A-Z]?" />
				</s:restriction>
			</s:simpleType>
			<s:simpleType name="ULDOwnerCodeBase" id="DE801">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z0-9]{2}" />
				</s:restriction>
			</s:simpleType>
			<s:simpleType name="ULDBase" id="DE802">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z]{1}[A-Z0-9]{2}" />
				</s:restriction>
			</s:simpleType>
			<s:simpleType name="ULDRemarksBase" id="DE804">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z0-9\.\-\ ]{1,53}" />
				</s:restriction>
			</s:simpleType>
			<s:simpleType name="ULDVolumeAvailableCodeBase" id="DE803">
				<s:restriction base="s:string">
					<s:pattern value="[0-9]{1}" />
				</s:restriction>
			</s:simpleType>
			<s:simpleType name="AircraftRegistrationBase" id="DE808">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z0-9\.\-\ ]{1,10}" />
				</s:restriction>
			</s:simpleType>
			<s:simpleType name="ULDLoadingIndicatorBase" id="DE811">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z]{1}" />
				</s:restriction>
			</s:simpleType>
			<s:simpleType name="HarmonisedCommodityCodeBase" id="DE900">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z0-9]{6,18}" />
				</s:restriction>
			</s:simpleType>
			<s:simpleType name="CustomsOriginCodeBase" id="DE906">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z0-9]{1,2}" />
				</s:restriction>
			</s:simpleType>
			<s:simpleType name="CustomsReferenceBase" id="DE907">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z0-9\.\-\ ]{1,15}" />
				</s:restriction>
			</s:simpleType>
			<s:simpleType name="SupplementaryCustomsInformationBase" id="DE940">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z0-9\.\-\ ]{1,35}" />
				</s:restriction>
			</s:simpleType>
			<s:simpleType name="CustomsInformationIdentifierBase" id="DE941">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z]{1,2}" />
				</s:restriction>
			</s:simpleType>
			<!-- Hussin Added 21Sep06 -->
			<s:simpleType name="ActualTimeBase" id="DE203">
				<s:restriction base="s:string">
					<s:pattern value="[0-9]{4}" />
				</s:restriction>
			</s:simpleType>
			<s:simpleType name="StatusCodeBase" id="DE400">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z]{3}" />
				</s:restriction>
			</s:simpleType>
			<s:simpleType name="DayChangeIndicatorBase" id="DE205">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z]{1}" />
				</s:restriction>
			</s:simpleType>
			<s:simpleType name="OfTimeIndicatorBase" id="DE206">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z]{1}" />
				</s:restriction>
			</s:simpleType>
			<s:simpleType name="DiscrepancyCodeBase" id="DE706">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z]{4}" />
				</s:restriction>
			</s:simpleType>
			<s:simpleType name="AircraftPossibilityCodeBase" id="DE809">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z]{3}" />
				</s:restriction>
			</s:simpleType>
			<s:simpleType name="ConnectionRestrictionIndicatorBase" id="DE419">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z]{1}" />
				</s:restriction>
			</s:simpleType>
			<s:simpleType name="ICAOCarrierCodeBase" id="DE307">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z]{3}" />
				</s:restriction>
			</s:simpleType>
			<s:simpleType name="DayOfWeekBase" id="DE204">
				<s:restriction base="s:string">
					<s:pattern value="[0-9]{1}" />
				</s:restriction>
			</s:simpleType>
			<s:simpleType name="AircraftCodeBase" id="DE810">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z0-9]{3}" />
				</s:restriction>
			</s:simpleType>
			<s:simpleType name="NumberOfStopsBase" id="DE322">
				<s:restriction base="s:string">
					<s:pattern value="[0-9]{1}" />
				</s:restriction>
			</s:simpleType>
			<s:simpleType name="ReasonforNoDisplayBase" id="DE420">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z0-9\.\-\ ]{1,65}" />
				</s:restriction>
			</s:simpleType>
			<s:simpleType name="SPSNameBase" id="DE422">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z0-9\ ]{1,25}" />
				</s:restriction>
			</s:simpleType>
			<s:simpleType name="DueCarrierBase" id="DE423">
				<s:restriction base="s:string">
					<s:pattern value="[AC]{1}" />
				</s:restriction>
			</s:simpleType>
			<!--Simple comment-->
			<s:simpleType name="LineBase">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z0-9\.\-\ ]{1,45}" />
				</s:restriction>
			</s:simpleType>
			<s:simpleType name="RecipientOfMessageBase">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z]{3}" />
				</s:restriction>
			</s:simpleType>
			<s:simpleType name="AAIDimessionBase">
				<s:restriction base="s:string">
					<s:pattern value="[0-9\.]{1,8}" />
				</s:restriction>
			</s:simpleType>
			<s:simpleType name="AAINumberOfPackagesBase">
				<s:restriction base="s:string">
					<s:pattern value="[0-9]{0,10}" />
				</s:restriction>
			</s:simpleType>
			<s:simpleType name="AAICommodityBase">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z]{4}" />
				</s:restriction>
			</s:simpleType>
			<s:simpleType name="AAIWeightBase">
				<s:restriction base="s:string">
					<s:pattern value="[0-9\.]{0,17}" />
				</s:restriction>
			</s:simpleType>
			<s:simpleType name="AAIShippingBillNumber">
				<s:restriction base="s:string">
					<s:pattern value="[0-9]{4}" />
				</s:restriction>
			</s:simpleType>
			<s:simpleType name="YearFourDigitBase">
				<s:restriction base="s:string">
					<s:pattern value="[0-9]{4}" />
				</s:restriction>
			</s:simpleType>
			<s:simpleType name="HourBase">
				<s:restriction base="s:string">
					<s:pattern value="[0-9]{2}" />
				</s:restriction>
			</s:simpleType>
			<s:simpleType name="MinuteBase">
				<s:restriction base="s:string">
					<s:pattern value="[0-9]{2}" />
				</s:restriction>
			</s:simpleType>
			<s:simpleType name="SecondBase">
				<s:restriction base="s:string">
					<s:pattern value="[0-9]{2}" />
				</s:restriction>
			</s:simpleType>
			<s:simpleType name="ActionFlagBase">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z]{1}" />
				</s:restriction>
			</s:simpleType>
			<s:simpleType name="ActionFlagIFEBase">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z]{3}" />
				</s:restriction>
			</s:simpleType>
			<s:simpleType name="AgentCodeBase">
				<s:restriction base="s:string">
					<s:pattern value="[A-Z0-9]{3,10}" />
				</s:restriction>
			</s:simpleType>
			<s:simpleType name="MessageSerialNumberBase">
				<s:restriction base="s:string">
					<s:pattern value="[0-9]{0,3}" />
				</s:restriction>
			</s:simpleType>
			<s:simpleType name="MonthDigitBase">
				<s:restriction base="s:string">
					<s:pattern value="[0-9]{2}" />
				</s:restriction>
			</s:simpleType>
			<s:simpleType name="TimeBase">
				<s:restriction base="s:string">
					<s:pattern value="[0-9]{4}" />
				</s:restriction>
			</s:simpleType>
		</s:schema>
	</types>
	<message name="CCNMessageSoapIn">
		<part name="parameter" element="ccn:CCN.MSG"/>
	</message>
	<message name="NewMessage"/>
	<portType name="CCN.MSGSoap">
		<operation name="AirWaybillData">
			<input message="ccn:CCNMessageSoapIn"/>
		</operation>
	</portType>
	<binding name="CCN.MSGSoap" type="ccn:CCN.MSGSoap">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="AirWaybillData">
			<soap:operation soapAction="http://www.ccn.com.sg/CCNMSGWS/AirWaybillData" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
	</binding>
	<service name="CCN.MSGService">
		<port name="CCN.MSG" binding="ccn:CCN.MSGSoap">
			<soap:address location="http://www.ccn.com.sg/CCNMSGWS"/>
		</port>
	</service>
</definitions>
